<template>

<div class="box-calendar-general card m-2">
         <div class="box-calendar-day">
            <p class="day" v-text="filter.events.day"></p>
            <div class="month-box-calendar">
               <h3 v-text="getCurrentMonth()"></h3>
               <h5 v-text="filter.events.year"></h5>
            </div>
         </div>
         <span></span>
         <div class="titulo-box-calendar">
            <h2 v-text="event.Title">Junta Directiva Seissa</h2>
            <p v-text="getStartHour()">8:30pm</p>
            <!-- <router-link :to="{name: 'dashboard-agenda-confirm'}">Ver Más</router-link> -->
         </div>
</div>

</template>

<script type="text/javascript">

      import {mapState} from 'vuex';

      export default {
         name: 'BoxCalendarGeneralConfirm',
         data(){
            return {
               back:'dashboard-agenda',
               event: {Title: ''},
            }
         },
         computed: {
            ...mapState(['schedule', 'filter']),
         },
         mounted(){
            this.event = this.filter.events.event;
         },
         methods: {
            getCurrentMonth(){
               var date = new Date(Date.UTC(this.filter.events.year
                                          , (this.filter.events.month-1)
                                          , this.filter.events.day, 0, 0, 0));
               var options = { month: 'long'};
               let month = date.toLocaleDateString('es-ES', options);
               return month.toUpperCase().substring(0, 3);
            },
            addZero(i) {
               if (i < 10) {
                  i = "0" + i;
               }
               return i;
            },
            getStartHour(){
               let date = new Date(this.event.StartDate);
               let ampm = date.getHours() >= 12 ? 'PM' : 'AM';
               return date.getHours() + ':' + this.addZero(date.getMinutes()) + ' ' + ampm;
            },
         }
      }
</script>