<template>

<div class="box-calendar-general card m-2">
         <div class="box-calendar-day">
            <p class="day" v-text="filter.events.day"></p>
            <div class="month-box-calendar">
               <h3 v-text="getCurrentMonth()"></h3>
               <h5 v-text="filter.events.year"></h5>
            </div>
         </div>
         <span></span>
         <div class="titulo-box-calendar">
            <h2 v-text="event.Title"></h2>
            <!-- <p v-text="getStartHour()"></p>  -->
            <router-link v-if="show" :to="{name: 'dashboard-agenda-confirm'}">Ver Más</router-link>
            <p v-if="!show" v-text="current_status.Name"></p>
         </div>
</div>

</template>

<script type="text/javascript">

      import {mapState} from 'vuex';

      export default {
         name: 'BoxCalendarGeneral',
         data(){
            return {
               back:'dashboard-agenda',
               event: {Title: ''},
               show: false,
               current_status: { AttendanceStateId:0, Name: ''},
            }
         },
         computed: {
            ...mapState(['schedule', 'filter']),
         },
         mounted(){
            this.event = this.filter.events.event;
            this.getScheduleKnowAttendance();
         },
         methods: {
            getCurrentMonth(){
               var date = new Date(Date.UTC(this.filter.events.year
                                          , (this.filter.events.month-1)
                                          , this.filter.events.day, 0, 0, 0));
               var options = { month: 'long'};
               let month = date.toLocaleDateString('es-ES', options);
               return month.toUpperCase().substring(0, 3);
            },
            addZero(i) {
               if (i < 10) {
                  i = "0" + i;
               }
               return i;
            },
            getStartHour(){
               let date = new Date(this.event.StartDate);
               let ampm = date.getHours() >= 12 ? 'PM' : 'AM';
               return date.getHours() + ':' + this.addZero(date.getMinutes()) + ' ' + ampm;
            },
            getScheduleKnowAttendance(){
               let id = this.filter.events.event.ScheduleId;
               this.$store.dispatch('getScheduleKnowAttendance', id).then( data => {
                  this.current_status = data.data;
                  
                  if(this.current_status.AttendanceStateId == 1 
                     || this.current_status.AttendanceStateId == 2 
                     || this.current_status.AttendanceStateId == 3){
                     this.show = true;
                  }else{
                     this.show = false;
                  }
               })
               .catch(error => console.error(error));
            },
         }
      }
</script>