<template>
  <div id="app">
   
      <vue-circle ref="progressBar"
        :progress="schedulePercent"
        :size="140"
        :reverse="false"
        line-cap="round"
        :fill="fill" 
        empty-fill="rgba(209, 209, 209, 1)"
        :animation-start-value="0.0"
        :start-angle="0"
        insert-mode="append" 
        :thickness="5"
        :show-percent="true"
        @vue-circle-progress="progress"
        @vue-circle-end="progress_end">
      </vue-circle>
  </div>
</template>
 
<script>
  import VueCircle from 'vue2-circle-progress/src/index.vue';
  import {mapState,mapMutations} from 'vuex';

  export default {
    name: 'VueCircleCustom',
    components: {
      VueCircle
    },
    props: {
      Porcentage : Number,
    },
    data(){
      return{
        fill : { gradient: ["rgb(130, 202, 56)"] },
        porcentaje: 50,
      }
    },
    mounted(){
      this.$refs.progressBar.updateProgress(this.schedulePercent*100)
    },
    computed: {
        ...mapState(['schedulePercent'])
    },
  }
</script>
