<template>
  <div >
    <div class="header">
            <img src="@/assets/img/logo-white.png">
            <span></span>
    </div>
    <div class="box-styles">
            <h1>Iniciar sesión</h1>
            <p>Ingrese su correo electrónico y su contraseña para iniciar sesión.</p>
            <form v-on:submit.prevent="login">
               <input required="required" 
                      class="form-control form-control-lg" 
                      type="email" 
                      placeholder="E-mail"
                      v-model="user.email">
               <input required="required" 
                      class="form-control form-control-lg" 
                      type="password" 
                      placeholder="Contraseña"
                      v-model="user.password">
               <div class="form-check-my">
                  <label class="container-check">Recordarme
                  <input type="checkbox" checked="checked" v-model="user.rememberMe">
                  <span class="checkmark"></span>
                  </label>
               </div>
               <button type="submit" href="#" class="btn btn-primary btn-lg btn-block enlace-ter">Ingresar</button>
            </form>
            <router-link :to="{name:'password-reset'}" class="link-olvide">¿Olvidé mi contraseña?</router-link>
            

    </div>
  </div>
</template>

<script>

import Footer from '@/components/general/Footer.vue';
import {mapState, mapMutations} from 'vuex';

export default {
  name: 'Dashboard',
  components: {
    Footer,
  },
  data(){
    return {
      user: {
        email: process.env.VUE_APP_USER,
        password: process.env.VUE_APP_PASS,
        rememberMe: false,
      }
    }
  }, 
  computed: {
    ...mapState(['redirect'])
  },
  mounted(){
    localStorage.setItem("tyc", "yes");
   this.$store.dispatch('closeLoading');
  },
  methods: {
    login: function(){
      this.$store.dispatch('login', this.user).then(res => {
       this.$store.dispatch('getDataByModule', 'articles');
        if(this.redirect == ""){
          this.$router.push('/dashboard');
        }else{
          this.sendRedirect();
        }
          
        
      }, error => {
        this.$log.error(error);
      });
    },
    sendRedirect: function(){
      if(this.redirect.indexOf('/go/new/') != -1){
        this.$store.dispatch('getDataByModule', 'articles').then(res =>{
            this.$router.push(this.redirect);
          }, error => {
          this.$log.error(error);
        });
      }
      if(this.redirect.indexOf('/go/document/') != -1){
        this.$store.dispatch('getDataByModule', 'dashboard').then(res =>{
            this.$router.push(this.redirect);
          }, error => {
          this.$log.error(error);
        });
      }
      if(this.redirect.indexOf('/go/categories/') != -1){
        this.$store.dispatch('getDataByModule', 'dashboard').then(res =>{
          console.log(this.redirect)
            this.$router.push(this.redirect);
          }, error => {
          this.$log.error(error);
        });
      }
      if(this.redirect.indexOf('/go/category/') != -1){
        this.$store.dispatch('getDataByModule', 'dashboard').then(res =>{
          console.log(this.redirect)
            this.$router.push(this.redirect);
          }, error => {
          this.$log.error(error);
        });
      }
    }
  }
}
</script>

