<template>
  <div class="">
    	   <div class="header">
            <img src="@/assets/img/logo-white.png">
            <span></span>
         </div>
         <div class="box-styles">
            <h1>Restaurar contraseña</h1>
            <p>Ingrese su correo electrónico registrado para generar la restauración.</p>
            <form v-on:submit.prevent="reset">
               <input required="required" class="form-control form-control-lg"
               v-model="email" type="email" placeholder="E-mail">
              
               <button type="submit" href="#" class="btn btn-primary btn-lg btn-block enlace-ter">Restaurar</button>
            </form>
            <router-link :to="{name:'login'}" 
              class="link-regresar"><< Regresar</router-link><br>
            <p class="txt-olvide">Te enviaremos al correo registrado las indicaciones para que restaures la contraseña.</p>
         </div>
  <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/general/Footer.vue';

export default {
  name: 'PasswordReset',
  components: {
    Footer,
  },
  data(){
    return {
      email: '',
    }
  }, 
  mounted(){
    
  },
  methods: {
    reset: function(){
      this.$store.dispatch('setForgotPassword', this.email).then(res => {
        
      }, error => {
        console.error(error);
      });
    }

  }
}
</script>