<template>
   <div>
      <div class="box-profile">
         <div class="header-profile">
            <img src="@/assets/img/logo-profile.png">
            <a @click="back()">
            <img src="@/assets/img/close2.png" class="close-profile">
            </a>
         </div>
         <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
            <!-- Avatar -->
            <div class="box-profile-content">
               <a class="avatar rounded-circle avatar-xl">
               <i class="icon-user icons"></i>
               </a>
               <div class="mt-4 names-txt">
                  <span class="d-block text-sm opacity-8">Bienvenido</span>
                  <h5 class="mb-0 text-white mb-4" v-text="inversor.Name+' '+inversor.LastName">Carlos Vegalara</h5>
               </div>
            </div>
            <div class="btns-profile">
               <a href="#" data-toggle="modal" data-target="#modal-asistencia" class="btn-asistencia btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
               <span class="btn-inner--icon"><i class="far fa-coins"></i></span>
               <a class="btn-inner-text"><i class="icon-check"></i>Asistencia</a>
               </a>
               <a @click="logout" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
               <span class="btn-inner--icon"><i class="far fa-coins"></i></span>
               <a class="btn-inner-text"><i class="icon-logout icons"></i>Salir</a>
               </a>
            </div>
            <!-- User info -->
            <!-- Actions -->
            <div class="actions-btns">
               <ul class="nav nav-tabs-my" id="myTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active action-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        <div class="emp-aso-box">
                           <i class="icon-briefcase icons"></i>
                           <p class="emp-aso">Empresas Asociadas</p>
                        </div>
                        <div class="triangulo"></div>
                     </a>
                  </li>
                 
               </ul>
            </div>
         </div>
      </div>
      <!--Box empresas-->
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="box-empresas-v">
               <div class="empresa-my" v-for="item of companies" :key="item.CompanyId" >
                  <a class="empresa-my-a" 
                     data-toggle="collapse" 
                     v-bind:href="'#empresa'+item.CompanyId" 
                     role="button" 
                     aria-expanded="false" 
                     v-bind:aria-controls="'empresa'+item.CompanyId">
                     <img v-bind:src="item.LogoBase64" />
                     <div class="close-empresa-my-open">+</div>
                     <div class="close-empresa-my-close">x</div>
                  </a>
                  <div class="collapse enlaces-empresa" v-bind:id="'empresa'+item.CompanyId">
                     <div class="card card-body">
                        <ul v-for="group in groupsByCompany(item.CompanyId)" :key="group.GroupId">
                           <li v-if="group!=null && group != undefined">
                              <a @click="goToCompany(item.CompanyId,group.GroupId)"
                                 v-text="group.Name">
                              </a>
    
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!--Box empresas-->
         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
      </div>
      <!-- Modal dividendos-->
      <ModalDividens :companies="companies"></ModalDividens>
      <!-- Modal dividendos-->
      <!-- Modal agenda-->
      <ModalDiary :companies="companies"></ModalDiary>
      <div class="modal fade" id="modal-asistencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <form v-on:submit.prevent="setConfirmAttendance">
                  <div class="modal-body p-4 box-content-modal">
                     <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                     </button>
                     <h3>Asistencias</h3>
                     <input type="text" name="asistencia" class="form-control mb-2" 
                        placeholder="# Asistencia" v-model="code" required>
                     <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Confirmar asistencia</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</template>
<script type="text/javascript">
   import ModalDividens from '@/components/dashboard/ModalDividens.vue';
   import ModalDiary from '@/components/dashboard/ModalDiary.vue';
   import {mapState, mapMutations} from 'vuex';
   
   export default {
     name: 'Dashboard',
     components: {
       ModalDividens,
       ModalDiary
   
     },
     data(){
        return{
           code: '',
        }
     },
     methods: {
        ...mapMutations(['setFilter','setTempFilter']),
        logout() {
            let message = {type:'CONFIRM', desc:'¿Esta seguro que desea cerrar sesión?' }
            this.$store.dispatch("confirm", message);
         },
         groupsByCompany(id) {
           return this.$store.getters.groupsByCompany(id);
         },
         goToCompany(companyId, groupId){
            this.setFilter({companyId, groupId}); 
            this.setTempFilter({companyId, groupId}); 
             this.$router.push({ name: 'dashboard-company' });
         },
         home(){
            this.setFilter({companyId:'', groupId:''});
            this.$router.push({ name: 'dashboard' })
         },
         back(){
             this.$router.go(-1);
         },
         setConfirmAttendance(){
            let code = {code: this.code};
            this.$store.dispatch('setConfirmAttendance', code).then( data => {
               
               })
               .catch(error => console.error(error));
         }
     },
     computed: {
       ...mapState(['confirmResponse','inversor', 'companies'])
     },
     watch: {
       confirmResponse: function(){
         if(this.confirmResponse){
            this.$store.dispatch("logout").then(() => {
               this.$router.push("/login");
            });
         }
       },
     }
   }
</script>