<template>
  <div class="about">
    	<div class="p-4 box-flex-ter">
            <img src="@/assets/img/logo-terminos.png" class="py-4">
            <div class="txt_terminos">
               <h5>Términos y Condiciones</h5>
               <div v-html="terms"></div>
            </div>
            <router-link :to="{name:'login'}" 
              class="btn btn-primary btn-lg btn-block enlace-ter">Aceptar</router-link><br>
        </div>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex';

export default {
  name: 'TermsAndConditions',
  components: {
    
  },
  data(){
    return {
      terms: ''
    }
  },
  computed: {
    ...mapState(['tac'])
  },
  methods:{
    ...mapMutations(['setSettingUp']),
  },
  created: function(){
    if(localStorage.getItem("tyc") == "yes"){
      this.$router.push({ name: 'login'})
    }else{
      this.terms = this.tac;
    }
  },
  mounted: function(){
    this.setSettingUp('done');
    
  },
}
</script>


