<template>
   <div>
      <div v-if="companyPicker == 'yes'">
         <div v-for="item of companies" :key="item.CompanyId">
            <div class="empresa-my empresa-my-detalle" v-if="item.CompanyId == CompanyId">
               <a class="empresa-my-a" href="#"  data-toggle="modal" data-target="#modal-documentos" @click="open = new Date()">
                  <div class="titulo-detalle-company">
                     <h3 v-text="item.Name"></h3>
                     <p v-text="groupName"></p>
                  </div>
                  <div class="box-icons-company">
                  <!--<i class="icon-briefcase icons"></i>-->
                  <i class="icon-arrow-right icons mini-ico"></i>
                  </div>     
               </a>
               
            </div>
         </div>
      </div>
      <div v-if="companyPicker != 'yes'">
         <div v-for="item of companies" :key="item.CompanyId">
            <div class="empresa-my empresa-my-detalle" v-if="item.CompanyId == CompanyId">
               <a class="empresa-my-a" >
                  <div class="titulo-detalle-company">
                     <h3 v-text="item.Name"></h3>
                     <p v-text="groupName"></p>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <!-- Modal documentos-->
      <ModalFilesCallback :companies="companies" 
         :open="open"
         @reloadFromFilter="reloadFromFilter()">
      </ModalFilesCallback>

   </div>
</template>

<script type="text/javascript">

   import ModalFilesCallback from '@/components/dashboard/ModalFilesCallback.vue';

   import {mapState, mapMutations} from 'vuex';

   export default {
      name: 'CompanyHeaderWithPicker',
      components: {
         ModalFilesCallback
      },
      props:{
         companies: Array,
         CompanyId: Number,
         GroupId: Number,
         companyPicker: String,
      }, 
      data(){
         return {
            groupName : '',
            groupId: '',
            open: '',
            showLink: true,
         }
      },
      computed: {
         ...mapState(['filter'])
      },
      mounted(){
         this.groupId = this.GroupId;
         this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
         if(this.companyPicker == 'yes'){
            this.showLink = true;
         }else{
            this.showLink = false;
         }
      },
      methods: {
         ...mapMutations(['setFilter']),
         setGroup(id){
            this.groupId = id;
            this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
            const filter = this.filter;
            filter.groupId = id;
            this.setFilter(filter);
            document.getElementsByClassName('empresa-my-a')[0].click();
         },
         groupsByCompany(id) {
            return this.$store.getters.groupsByCompany(id);
         },
         groupByCompanyAndGroup(id, GroupId){
            let groups = this.$store.getters.groupsByCompany(id);
            groups.forEach(group => {
               if(group.GroupId == GroupId){
                  this.groupName = group.Name;
               }
            });
         },
         reloadFromFilter(){
            this.groupId = this.GroupId;
            this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
            this.$emit('reloadFromFilterFiles');
         }
      },
}
</script>