<template>
   <div>
      <div v-for="item of companies" :key="item.CompanyId">
         <div class="empresa-my empresa-my-detalle" v-if="item.CompanyId == CompanyId">
            <a class="empresa-my-a"  href="#"  data-toggle="modal" data-target="#modal-documentos" @click="open = new Date()">
               
               <div class="titulo-detalle-company">
                  <h3 v-text="item.Name"></h3>
                  <p v-text="groupName"></p>
               </div>
               <div class="box-icons-company">
               <i class="icon-arrow-right icons mini-ico"></i>
               </div>               

            </a>
         </div>
      </div>

      <!-- Modal documentos-->
      <ModalCompanyPicker :companies="companies" 
         :open="open"
         @reloadFromFilter="reloadFromFilter()">
      </ModalCompanyPicker>

   </div>
</template>

<script type="text/javascript">

   import ModalCompanyPicker from '@/components/dashboard/ModalCompanyPicker.vue';

   import {mapState, mapMutations} from 'vuex';

   export default {
      name: 'CompanyHeader',
      components: {
         ModalCompanyPicker
      },
      props:{
         companies: Array,
         CompanyId: Number,
         GroupId: Number,
      }, 
      data(){
         return {
            groupName : '',
            groupId: '',
            open: '',
         }
      },
      computed: {
         ...mapState(['filter','tempFilter'])
      },
      mounted(){
         this.groupId = this.GroupId;
         if(this.groupId == '' || this.groupId == 0){
            this.groupId = this.tempFilter.groupId;
         }
         this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
      },
      methods: {
         ...mapMutations(['setFilter']),
         setGroup(id){
            this.groupId = id;
            this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
            const filter = this.filter;
            filter.groupId = id;
            this.setFilter(filter);
            document.getElementsByClassName('empresa-my-a')[0].click();
         },
         groupsByCompany(id) {
            return this.$store.getters.groupsByCompany(id);
         },
         groupByCompanyAndGroup(id, GroupId){
            let groups = this.$store.getters.groupsByCompany(id);
            groups.forEach(group => {
               if(group.GroupId == GroupId){
                  this.groupName = group.Name;
               }
            });
         },
         reloadFromFilter(){
            this.groupId = this.filter.groupId;
            this.groupByCompanyAndGroup(this.CompanyId, this.groupId);
            this.$emit('reloadFromFilterFiles');
         }
      },
}
</script>