<template>
   <div>
      <div v-for="item of companies" :key="item.CompanyId">
         <div class="empresa-my empresa-my-detalle" v-if="item.CompanyId == CompanyId">
            <a class="empresa-my-a"  href="#"  data-toggle="modal" data-target="#modal-documentos" @click="open = new Date()">
                <div class="titulo-detalle-company">
                  <h3 v-text="item.Name"></h3>
               </div>
                 <div class="box-icons-company">
               <i class="icon-arrow-right icons mini-ico"></i>
               </div>     
              
            </a>
         </div>
      </div>

      <!-- Modal documentos-->
      <ModalCompanyPickerAgenda :companies="companies" 
         :open="open"
         @reloadFromFilter="reloadFromFilter()">
      </ModalCompanyPickerAgenda>

   </div>
</template>

<script type="text/javascript">

   import ModalCompanyPickerAgenda from '@/components/dashboard/ModalCompanyPickerAgenda.vue';

   import {mapState, mapMutations} from 'vuex';

   export default {
      name: 'CompanyPickerAgenda',
      components: {
         ModalCompanyPickerAgenda
      },
      props:{
         companies: Array,
         CompanyId: Number,
      }, 
      data(){
         return {
            open: '',
         }
      },
      computed: {
         ...mapState(['filter'])
      },
      methods: {
         ...mapMutations(['setFilter']),
         setGroup(id){
            this.groupId = id;
            const filter = this.filter;
            this.setFilter(filter);
            document.getElementsByClassName('empresa-my-a')[0].click();
         },
         groupsByCompany(id) {
            return this.$store.getters.groupsByCompany(id);
         },
         reloadFromFilter(){
            this.$emit('reloadFromFilterAgenda');
         }
      },
}
</script>