<template>
   <div>
      <ul class="age" v-if="active_back == 'yes'">
         <li>
            <div class="">
               <p v-text="filter.year+' - '+getMonthName(filter.month)"  class="age-a"></p>
            </div>
            <a class="regresar-btn" @click="backTo()"><< Regresar</a>
         </li>
      </ul>
      <div class="card-wrapper p-3">
         <!-- Files -->
         <div class="card mb-3 border shadow-none" 
            v-for="(document, index) of documents" :key="index" 
            v-if="document.CategoryId == filter.categoryId"
            data-toggle="modal" v-bind:data-target="'#modal-details-file-'+index">
            <div class="px-3 py-3">
               <a class="action-item" >
                  <div class="row align-items-center">
                     <p class="card-text small text-muted document-size" v-text="document.Size"></p>
                     <div class="col-auto">
                        <img v-if="document.ImageUrl == ''" alt="Image placeholder" src="@/assets/img/pdf.png" class="img-fluid" style="width: 150px; border-radius: 4px;">
                        <img v-if="document.ImageUrl != ''" alt="Image placeholder" v-bind:src="document.ImageUrl" class="img-fluid" style="width: 150px; border-radius: 4px;">
                     </div>
                     <div class="col ml-n2 ">
                        <h6 class="text-sm mb-0 titu-file">
               <a v-text="document.Title"></a>
               <p style="" class="small text-muted mt-2 flotante-2" style="color:#fff !important;" v-text="document.Year+'/'+document.Month+'/'+document.Day"></p>
               </h6>
               </div>
               </div>
               </a>
            </div>
            <div class="col-auto actions">
               <div>
                  <div class="iconoptions-box" data-toggle="modal" v-bind:data-target="'#modal-details-file-'+index">
                     <img src="@/assets/img/points.png" class="img-fluid point-wi">
                  </div>
                  <div class="modal fade" v-bind:id="'modal-details-file-'+index" tabindex="-1" role="dialog" aria-labelledby="modal-mapas" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                           <div class="modal-body p-4 box-content-modal">
                              <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                              </button>
                              <div class="p-4 box-files-2">
                                 <a @click="goToFile(document)" class="c-c-f close" ref="close"  data-dismiss="modal" aria-label="Close">Ver</a>
                                 <a @click="goToComments(document)" class="s-s close" ref="close"  data-dismiss="modal" aria-label="Close">Comentarios</a>
                                 <a v-if="!so" v-bind:href="document.DownloadPdf" target="_blank" class="d-r btn btn-primary" >Descargar</a>
                                 <a v-if="so" v-bind:href="urlDrive+pdfUrlDownload+document.DocumentId" target="_blank" class="d-r btn btn-primary" >Descargar</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         


         <div class="card mb-3 border shadow-none" 
         v-if="filter.category.CategoryId == 54 && filter.companyId == 49"
         data-toggle="modal" data-target="#modal-details-file-m-seissa">
            <div class="px-3 py-3">
               <a class="action-item" @click="openVideo1()">
                  <div class="row align-items-center">
                     <p class="card-text small text-muted document-size">Video</p>
                     <div class="col-auto">
                        <img alt="Image placeholder" src="@/assets/img/SeissaImage-.png" class="img-fluid" style="width: 150px; border-radius: 4px;">
                     </div>
                     <div class="col ml-n2 ">
                        <h6 class="text-sm mb-0 titu-file">
               <a>bellpi: El futuro es ahora</a>
               <p style="" class="small text-muted mt-2 flotante-2" style="color:#fff !important;">2020/03/18</p>
               </h6>
               </div>
               </div>
               </a>
            </div>
            <div class="col-auto actions">
               <div>
                  <div class="iconoptions-box" data-toggle="modal" data-target="#modal-details-file-m-seissa">
                     <img src="@/assets/img/points.png" class="img-fluid point-wi">
                  </div>
                  <div class="modal fade" id="modal-details-file-m-seissa" tabindex="-1" role="dialog" aria-labelledby="modal-mapas" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                           <div class="modal-body p-0 box-content-modal">
                              <button style="width: 40px;
                                 height: 40px;
                                 border: solid 1px rgba(5, 21, 167, 0.32);
                                 background: white;
                                 border-radius: 100%; right: -21px !important;
                                 top: -19px;" type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close" @click="closeVideo1()">
                              <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                              </button>
                              <iframe width="100%" height="400" v-bind:src="urlVideo1" 
                                 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                 allowfullscreen></iframe>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="card mb-3 border shadow-none" 
         v-if="filter.category.CategoryId == 54 && (filter.companyId == 50 || filter.companyId == 49)"
         data-toggle="modal" data-target="#modal-details-file-m-seissa-2">
        
            <div class="px-3 py-3">
               <a class="action-item" @click="openVideo2()">
                  <div class="row align-items-center">
                     <p class="card-text small text-muted document-size">Video</p>
                     <div class="col-auto">
                        <img alt="Image placeholder" src="@/assets/img/Finandinaover.png" class="img-fluid" style="width: 150px; border-radius: 4px;">
                     </div>
                     <div class="col ml-n2 ">
                        <h6 class="text-sm mb-0 titu-file">
               <a>Finandina: Innovación Digital</a>
               <p style="" class="small text-muted mt-2 flotante-2" style="color:#fff !important;">2020/03/18</p>
               </h6>
               </div>
               </div>
               </a>
            </div>
            <div class="col-auto actions">
               <div>
                  <div class="iconoptions-box" data-toggle="modal">
                     <img src="@/assets/img/points.png" class="img-fluid point-wi">
                  </div>
                  <div class="modal fade" id="modal-details-file-m-seissa-2" tabindex="-1" role="dialog" aria-labelledby="modal-mapas" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                           <div class="modal-body p-0 box-content-modal">
                              <button style="width: 40px;
                                 height: 40px;
                                 border: solid 1px rgba(5, 21, 167, 0.32);
                                 background: white;
                                 border-radius: 100%; right: -21px !important;
                                 top: -19px;" type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close" @click="closeVideo2()">
                              <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                              </button>
                              <iframe width="100%" height="400" v-bind:src="urlVideo2" 
                                 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                 allowfullscreen></iframe>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <br><br>


      </div>
   </div>
</template>
<script type="text/javascript">
   import {mapState,mapMutations} from 'vuex';
   
   import { isMobile,isIOS } from 'mobile-device-detect';
   
   export default {
     name: 'FilesDetail',
     props: {
        active_back: String,
        back: String,
     },
     data(){
       return {
         urlDrive: 'https://docs.google.com/viewerng/viewer?url=',
         pdfUrlDownload: 'http://34.222.97.29/Seissa.Web/api/application/v2/DownloadPdf?documentId=',
   
         mobile: isMobile ? 'Welcome to Your Vue.js mobile App!' : 'Welcome to Your Vue.js App',
         so: false,
         video1: "https://www.youtube.com/embed/V60PSD0MgcU",
         urlVideo1: "",
         video2: "https://www.youtube.com/embed/Strzk73M6bM",
         urlVideo2: "",
       }
     },
     computed: {
          ...mapState(['filter','documents'])
     },
     mounted(){
        this.so = isIOS;
        this.$store.dispatch('getDataByModule', this.$store.state.currentPage).then( data => {
           
         })
         .catch(error => console.error(error));
     },
      methods: {
          ...mapMutations(['setFilterFiles','setSettingUp']),
          backTo(){
             this.$router.push({ name: 'dashboard-files-month'})
          },
          goToFile(document){
               let files = this.filter.files;
               files.document = document;
               this.setFilterFiles(files);
               this.$router.push({ name: 'dashboard-file' ,params: {back: this.back}})
          },
          
          downloadFile(_document){
            this.setSettingUp('starting');
             this.$store.dispatch('getDocument', _document.PdfUrl).then( data => {
               const pdf = data.data.Base64;
               var element = document.createElement('a');
               element.setAttribute('href', pdf);
               element.setAttribute('download', 'document.pdf');
   
               element.style.display = 'none';
               document.body.appendChild(element);
   
               element.click();
   
               document.body.removeChild(element);
   
               this.setSettingUp('done');
               })
           .catch(error => {
                 console.error(error)
                 this.setSettingUp('done');
             });
          },
          getMonthName(month){
                const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                               , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
                if(months[month] != 'undefinded'){
                   return months[month];
                }
                return '';
          },
          goToComments(document){
               let files = this.filter.files;
               files.document = document;
               this.setFilterFiles(files);
             this.$router.push({ name: 'dashboard-comments' ,params: {back: this.back}})
           },
           openVideo1(){
              this.urlVideo1 = this.video1;
           },
           closeVideo1(){
              this.urlVideo1 = "";
           },
           openVideo2(){
              this.urlVideo2 = this.video2;
           },
           closeVideo2(){
              this.urlVideo2 = "";
           }
       }
   }
</script>