<template>
   <div>
      <ul class="age">
         <li v-for="(year,item) of years" :key="item" v-if="year.Year != 0">
            <div class="box-age">
               <i class="icon-calendar icons"></i>
               <p v-text="year.Year"></p>
            </div>
            <a @click="goToMonths(year.Year)" class="ver-file">Ver</a>
         </li>          
      </ul>
   </div>
</template>

<script type="text/javascript">
      import {mapState,mapMutations} from 'vuex';

      export default {
         name: 'FilesAge',
         props: ['run'],
         data(){
            return {
               years:[],
            }
         },
         mounted() {
            this.getYears();
         },
         computed: {
            ...mapState(['documentYearAndMonth', 'filter']),
         },
         methods: {
            ...mapMutations(['setFilterFiles','setFilter']),
            goToMonths(year){
               let filter = this.filter;
               filter.year = year;
               this.setFilter(filter);
               this.$router.push({ name: 'dashboard-files-month' })
            },
            getYears(){
                  this.$store.dispatch('getDataByModule', 'getYearAndMonthsDocuments').then( data => {
                     this.years = this.documentYearAndMonth;
                  })
                  .catch(error => console.error(error));
                  this.year =  this.month =  '';
            },
         },
         watch:{
            run: function(){
               this.getYears();
            }
         }
      }

</script>