<template>
   <div>
      <ul class="age">
         <li>
            <div class="">
              
               <p v-text="filter.year" class="age-a"></p>
            </div>
            <a class="regresar-btn" @click="back()"><< Regresar</a>
         </li>       
      </ul>
      <ul class="month">
         <li v-for="(month,index) of months" :key="index">
            <div class="box-month">
               <i class="icon-calendar icons"></i>
               <p v-text="getMonthName(month)"></p>
            </div>
            <a @click="goToDocuments(month)" class="ver-file-month">Ver</a>
         </li>
      </ul>
   </div>
</template>

<script type="text/javascript">
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'FilesMonth',
      data(){
         return {
            years: [],
            months: [],
            year: '',
            month: '',
         }
      },
      computed: {
         ...mapState(['filter','documentYearAndMonth'])
      },
      mounted() {
         this.years = this.documentYearAndMonth;
         if(this.filter.year != 'undefined'){
            this.year = this.filter.year;
         }
         this.getMonths();
      },
      methods: {
         ...mapMutations(['setFilter']),
         back(){
            this.$router.push({ name: 'dashboard-files' })
         },
         goToDocuments(month){
               let filter = this.filter;
               filter.month = month;
               this.setFilter(filter);
               this.$router.push({ name: 'dashboard-files-detail' })
         },
         getMonths(){
               this.years.forEach(element => {
                  if(element.Year == this.year){
                     this.months = element.Months;
                  }
               });
            this.month =  '';
         },
         getMonthName(month){
               const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                              , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
               if(months[month] != 'undefinded'){
                  return months[month];
               }
               return '';
         }
      }
   }
</script>