<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>

      <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

      <CompanyPickerAgenda :companies="companies" 
                           :CompanyId="filter.companyId" 
                           :GroupId="filter.groupId"
                           @reloadFromFilterAgenda="reloadFromFilterAgenda()"></CompanyPickerAgenda>
      <div class="titulo-divi">
         <img src="@/assets/img/3.png" style="width:47px;">
         <h2>Agenda</h2>
      </div>


<div class="box-calendar">


      <div class="mx-3 selescts-agenda">

      <select id="ano-agenda" required="required" class="form-control empresa mb-2" v-model="year">
         <option value="null">Año</option>
          <option v-for="(_year, index) of years" :key="index"
             v-bind:value="_year" v-text="_year"></option>
         
         
      </select>

      <select id="mes-agenda" required="required" class="form-control empresa mb-2" v-model="month" 
         @change="getCurrentMonthEvents()"
      >
         <option value="null">Mes</option>
         <option v-for="(_month, index) of months" :key="index"
             v-bind:value="_month" v-text="getMonthName(_month)"></option>
      </select>

      </div>
      
      <div class="m-3 card">
         <div class="info-a-m p-3">
            <p v-text="current_year"></p>
            <h3 v-text="current_day"></h3>
         </div>

         <div class="calendario-my">
            <div class="days">
               <h3 v-for="(day,i) of getDaysNamesByYearAndMonth()" :key="i" v-text="day"></h3>
            </div>

            <div v-for="(week, item) of getDaysByYearAndMonth()" :key="item">
               <div class="semana">
                  <div class="day" v-for="(day, index2) of week.days" :key="index2"><p v-text="day"></p></div>
               </div>

               <div class="eventos">
                  <div v-for="(event, index2) of week.events" :key="index2" 
                     v-bind:class="'evento evento-'+event.long+'-'+event.pos">
                     <a v-bind:class="'bg-'+event.ColorSchedule " @click="selectEvents(event.day)" href="#" data-toggle="modal" data-target="#modal-events">
                        <p v-text="event.quantity"></p>
                     </a>
                  </div>
               </div> 

            </div>

         </div>

      </div>

</div>


</div>
</div>
      <br>
      <br>
      <br>
      <MenuFixed :back="backFromMenu"></MenuFixed>

      <ModalEvents ref="modalEvents"></ModalEvents>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import CompanyPickerAgenda from '@/components/company/CompanyPickerAgenda.vue';
   import ModalEvents from '@/components/dashboard/ModalEvents.vue';
   import Profile from '@/components/general/Profile.vue';
   
   import {mapState,mapMutations} from 'vuex';
   
   export default {
      name: 'Agenda',
      components: {
         Header,
         MenuFixed,
         CompanyPickerAgenda,
         ModalEvents,
          Profile
      },
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            back:'dashboard-agenda',
            backFromMenu:'dashboard',
            year: '',
            month: '',
            day: '',
            hours: '',
            minutes: '',
            current_day : '',
            current_year: '',
            events: [],
            selectedEvents: [],
            months: [1,2,3,4,5,6,7,8,9,10,11,12],
            years: [],
         }
      },
      mounted(){
         this.backFromMenu = this.$route.params.backFromMenu;
         if(this.backFromMenu == null || this.backFromMenu == undefined || typeof this.backFromMenu === 'undefined' ){
            this.backFromMenu = this.navigationMain;
         }
         let today = new Date();

         for(let i = today.getFullYear(); i >= 2017; i--){
            this.years.push(i);
         }

         if(this.filter.events.year != ''){
            this.year = this.filter.events.year;
         }else{
            this.year = today.getFullYear();
         }

         if(this.filter.events.month != ''){
            this.month = this.filter.events.month;
         }else{
            this.month = today.getMonth()+1;
         }
         
         this.day = today.getDate();
         this.hours = today.getHours();
         this.minutes = today.getMinutes();
         this.current_year = today.getFullYear();
         this.current_day = this.getCurrentDay();
      
         this.$store.dispatch('getDataByModule', this.$store.state.currentPage).then( data => {
               
               this.getCurrentMonthEvents();
               this.getDaysNamesByYearAndMonth();
             })
             .catch(error => console.error(error));

      },
      computed: {
         ...mapState(['companies','notifications', 'schedule', 'filter','navigationMain'])
      },
      methods: {
         ...mapMutations(['setFilterEvents']),
         getDifferenceBetweenTwoDates(date1, date2){
            return 1; 
         },
         getCurrentMonthEvents(){
            let year = this.year;
            let month = this.month;
            let monthEvents = [];
            this.schedule.forEach(element => {
               if(year == element.Year && month == element.Month){
                  monthEvents.push(element);
               }
            });
            this.events = monthEvents;
         },
         getEvent(day, weekEvent, _pos){
            let _element = {long:0, pos: 0, quantity: 0, day: 0};
            this.events.forEach(element => {
               let fecha = new Date(element.StartDate);
               if(fecha.getDate() == day){
                  _element.long = this.getDifferenceBetweenTwoDates(1,1);
                  _element.pos = _pos;//(day%7 == 0)? 7: day%7;
                  _element.quantity = _element.quantity + 1;
                  _element.day = day;
                  _element.ColorSchedule = element.ColorSchedule;
                  _element.Initials = element.Initials;
               }
            });
            if(_element.quantity != 0){
               if(_element.quantity == 1){
                  _element.quantity = _element.Initials;
               }else{
                  _element.ColorSchedule = 'all';
               }
               weekEvent.push(_element);
            }
            return weekEvent
         },
         getDaysByYearAndMonth(){     
            let days = new Date(this.year, this.month, 0).getDate();
            let week = [];
            let weekEvent = [];
            let month = [];
            //clean days
            let pos = 1;
            let first_day = new Date(this.year, this.month-1, 1);
            for(let i = 0; i < first_day.getDay(); i++){
               week.push('');
               pos++;
            }
            
            let index = 1;
            for (index; index <= days; index++) {
              week.push(index);
              weekEvent = this.getEvent(index, weekEvent, pos);
              pos++;
              if( week.length % 7 == 0){
                 month.push({days:week, events:weekEvent});
                 week = [];
                 weekEvent = [];
                 pos = 1;
              }
            }
            //last week
            if(week.length > 0){
               while(week.length < 7){
                  week.push('');
               }
               month.push({days:week, events:weekEvent});
            }
            return month;
         },
         getDaysNamesByYearAndMonth(){     
            let week = [];
            week.push('DOM');
            week.push('LUN');
            week.push('MAR');
            week.push('MIE');
            week.push('JUE');
            week.push('VIE');
            week.push('SAB');
            return week;
         },
         getEventsByMonth(){
            let week = ['','','','','','',''];
            let week1 = ['','','','','','',''];
            let month = [week1,week,week,week,week];
            return month;
         },
         getCurrentDay(){
            var date = new Date();
            var options = { weekday: 'long', month: 'long', day: 'numeric' };
            let current = date.toLocaleDateString('es-ES', options);
            current = current.replace(/(^|\s)\S/g, l => l.toLowerCase());

            return current.charAt(0).toUpperCase() + current.slice(1);
         },
         getCurrentDayByDate(day){
            var date = new Date(Date.UTC(this.year, (this.month-1), day, this.hours, this.minutes, 0));
            var options = { weekday: 'long'};
            let current = date.toLocaleDateString('es-ES', options);
            return current.toUpperCase().substring(0, 3);
         },
         getCurrentDayByDateV2(year, month, day){
            var date = new Date(Date.UTC(year, month, day, 0, 0, 0));
            var options = { weekday: 'long'};
            let current = date.toLocaleDateString('es-ES', options);
            return current.toUpperCase().substring(0, 3);
         },
         selectEvents(day){
            this.setFilterEvents({year: this.year, month: this.month, day: day});
            this.$refs.modalEvents.setEvents(this.events);
         },
         getMonthName(month){
               const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                              , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
               if(months[month] != 'undefinded'){
                  return months[month];
               }
               return '';
         },
         reloadFromFilterAgenda(){
            this.CompanyId = this.filter.files.companyId;
            this.run = new Date();
            this.$store.dispatch('getDataByModule', this.$store.state.currentPage).then( data => {
               this.getCurrentMonthEvents();
               this.getDaysNamesByYearAndMonth();
             })
             .catch(error => console.error(error));
         }
      }
   }
</script>