<template>
   <div class="header-100w">
      <HeaderLight :back="back"></HeaderLight>
      <div class="titulo-divi">
         <img src="@/assets/img/3.png" style="width:47px;">
         <h2>Agenda</h2>
      </div>

      <BoxCalendarGeneralConfirm></BoxCalendarGeneralConfirm>
      

       <div class="mb-3 m-3 mb-3" v-if="current_status != 'lock'">
              
               <a v-bind:class="[current_status.AttendanceStateId == 1 ? 'c-c-f disable' : 'c-c-f']" @click="assist()">Asistiré</a>
               <a v-bind:class="[current_status.AttendanceStateId == 2 ? 's-s disable' : 's-s']" @click="noassist()">No Asistiré</a>
               <a data-toggle="modal" data-target="#modal-asistencia" class="d-r btn-asistencia btn btn-sm btn-white btn-icon shadow hover-translate-y-n3"
               >Confirmar Asistencia</a>
                
      </div>

      <div class="">

      <p class="txt-olvide m-3">De acuerdo con las mejores prácticas de gobierno corporativo y el Art. 73 numeral 4 del EOSF, los Directores deben asistir mínimo al 75% de las reuniones del año.</p>

      </div>

      <div class="modal fade" id="modal-asistencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <form v-on:submit.prevent="setConfirmAttendance">
                  <div class="modal-body p-4 box-content-modal">
                        <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                        </button>
                        
                        <h3>Asistencias</h3>
                        
                        <input type="text" name="asistencia" class="form-control mb-2" 
                     placeholder="# Asistencia" v-model="code"  required>

                        <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Confirmar asistencia</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

   </div>
</template>
<script type="text/javascript">

   import HeaderLight from '@/components/general/HeaderLight.vue';
   import BoxCalendarGeneralConfirm from '@/components/agenda/BoxCalendarGeneralConfirm.vue';
   
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'AgendaConfirm',
      components: {
         HeaderLight,
         BoxCalendarGeneralConfirm
      },
      data(){
         return {
            back: 'dashboard-agenda-details',
            current_status : 0,
            code: '',
         }
      },
      mounted(){
         let id = this.filter.events.event.ScheduleId;
          this.$store.dispatch('getScheduleKnowAttendance', id).then( data => {
               console.log('getScheduleKnowAttendance.....', data.data);
               this.current_status = data.data.AttendanceStateId;
             })
             .catch(error => console.error(error));
      },
      computed: {
          ...mapState(['inversor','schedule', 'filter']),
      },
      methods: {
         // 1	Asistire
         // 2	No Asistire
         // 3	Por Confirmar
         // 4	Asistio
         setAssistance(state){
             var newAssistance ={
               AttendanceStateId:state,
               ScheduleId :this.filter.events.event.ScheduleId,
            };
            this.$store.dispatch('setAssistance', newAssistance).then(res => {
               this.getScheduleKnowAttendance();
            }, error => {
               console.log(error);
            });
         },
         assist() {
            this.setAssistance(1);
            this.current_status = "lock";
            
         },
         noassist() {
            this.setAssistance(2);
            this.current_status = "lock";
         },
         getScheduleKnowAttendance(){
            let id = this.filter.events.event.ScheduleId;
            this.$store.dispatch('getScheduleKnowAttendance', id).then( data => {
               this.current_status = data.data;
             })
             .catch(error => console.error(error));
         },
         setConfirmAttendance(){
            let code = {code: this.code};
            this.$store.dispatch('setConfirmAttendance', code).then( data => {
               
             })
             .catch(error => console.error(error));
         }
      }

      

   }
   
</script>