<template>
   <div class="header-100w">
      <HeaderLight :back="back"></HeaderLight>

<div class="container-fluid px-0 box-dashboard-g">
         
          <Profile></Profile>

         <div class="my-contenido-flex my-contenido-flex-home">

<div class="box-calendar">


      <div class="titulo-divi">
         <img src="@/assets/img/3.png" style="width:47px;">
         <h2>Agenda</h2>
      </div>
      <BoxCalendarGeneral></BoxCalendarGeneral>
      <p class="c-a-p">Consolidado asistencias</p>
      <div class="box-btn-asistencia">
         <div class="asis-btn" v-for="(month,i) of months" :key="i" >
            <div class="mes-btn" v-text="month.name"></div>
            <div>
              <img src="@/assets/img/no-asis-ico.png" class="uno-as" v-if="month.type=='non_attended'">
              <img src="@/assets/img/yes-asis-ico.png" class="dos-as" v-if="month.type=='attended'">
              <img src="@/assets/img/off-asis-ico.png" class="tres-as" v-if="month.type=='partial_attended'">
              <img src="@/assets/img/pos-asis-ico.png" class="cuatro-as" v-if="month.type=='in_future'"> 
              <img src="@/assets/img/pos-asis-ico.png" class="cuatro-as" v-if="month.type=='non_meeting'">         
            </div>
         </div>
         
      </div>
   
      <div class="center-circle mb-5">
      <VueCircleCustom v-if="show" :Porcentage="Attended"></VueCircleCustom>
      <div class="d-flex info-text-porcentage">
            <div class="col">
               <span class="d-block badge badge-dot badge-lg h6">
               <i class="bg-danger" style="background-color: #d1d1d1 !important;"></i><span v-text="notAttended"></span>% No asistió
               </span>
            </div>
            <div class="col">
               <span class="d-block badge badge-dot badge-lg h6">
               <i class="bg-danger" style="background-color: #82ca38 !important;"></i><span v-text="Attended"></span>% Si asistió
               </span>
            </div>
         </div>
      </div>

      <div class="porcentage-box">
         
         
      </div>
   </div>

</div>
</div>

 </div>
</template>
<script type="text/javascript">

   import HeaderLight from '@/components/general/HeaderLight.vue';
   import BoxCalendarGeneral from '@/components/agenda/BoxCalendarGeneral.vue';
   import VueCircleCustom from '@/components/agenda/VueCircleCustom.vue';

    import Profile from '@/components/general/Profile.vue';

   import {mapState,mapMutations} from 'vuex';
   
   export default {
      name: 'AgendaDetails',
      components: {
         HeaderLight,
         BoxCalendarGeneral,
         VueCircleCustom,
        Profile
      },
      data(){
         return {
            back:'dashboard-agenda',
            event: {},
            months: [],
            graphic: {Percentage:0},
            notAttended:100,
            Attended:0,
            show: false,
         }
      },
      computed: {
         ...mapState(['schedule', 'filter'])
      },
       mounted(){
          this.event = this.filter.events.event;
          let today = new Date();
          let current_year = today.getFullYear();
          let current_day = today.getDate();
          let current_month = today.getMonth()+1;
          //let current_date = current_year+'-'+current_month+'-'+current_day;
          let current_date = this.filter.events.year+'-'+this.filter.events.month+'-'+this.filter.events.day;
          let url = "date="+current_date+"&groupId="+this.filter.events.event.GroupId;
          this.$store.dispatch('getScheduleGraphics', url).then( data => {
               this.graphic = data.data;
               let months = this.getOrderMonths(current_month);
               this.getMonthsGraphics(this.graphic, months);
               this.notAttended = (1 - this.graphic.Percentage) * 100;
               this.Attended = Math.floor(this.graphic.Percentage * 100);
               this.show = true;
               this.getMonthsGraphics(data);
             })
             .catch(error => console.error(error));

     
       },
       methods: {
          getMonthsGraphics(graphic, months){
             
             let months_names = ['','ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEP','OCT','NOV','DIC'];
             let result_months = [];
             for (let i = 0; i < months.length; i++) {
               let element = {name: months_names[months[i]]}
               if(graphic.MonthAttended.indexOf(months[i]) > -1){
                  element = {name: months_names[months[i]], type: "attended"};
               } else if(graphic.MonthPartialAttended.indexOf(months[i]) > -1){
                  element = {name: months_names[months[i]], type: "partial_attended"};
               }else if(graphic.MonthInFuture.indexOf(months[i]) > -1){
                  element = {name: months_names[months[i]], type: "in_future"};
               }else if(graphic.MonthNotAttended.indexOf(months[i]) > -1){
                  element = {name: months_names[months[i]], type: "non_attended"};
               }else{
                  element = {name: months_names[months[i]], type: "non_meeting"};
               }

                result_months[result_months.length] = element;
             }
            this.months = result_months;
          },
          getOrderMonths(month){
           
            let months = [];
            let index = 0;
            for(var i = 1; i <= 12; i++){
                months[index] = i;
                index++;
            }
            return months;
          },
       }
   }
   
</script>