<template>
   <div class="header-100w">
      <HeaderLight :back="back" :backSec="backSec" class="header-dashboard-file"></HeaderLight>
      <div class="my-contenido-flex my-contenido-flex-w pt-0 mt-0 w-100 px-0 mx-0 comments-box" style="margin-top: 0px !important;">
         <h2 class="mb-3 mt-3">Comentarios</h2>
         <!--BOX COMMENT-->
         <div class="card comment mb-3" v-for="(comment, index) of comments" :key="index">
            <div class="titulo-comment">
               <i class="icon-speech icons"></i>
               <div class="titulo-comment-box">
                  <h5 v-text="comment.NameInvestor"></h5>
                  <p v-text="comment.CreatedOn"></p>
               </div>
            </div>
            <p v-text="comment.CommentText"></p>
            
         </div>
         <!--BOX COMMENT END-->
         <form v-on:submit.prevent="create">
            <div class="card mt-4 border shadow-none p-3  mb-4">
               <p>Comentar Documento</p>
               <textarea placeholder="Escribir su comentario" 
                  class="form-control mb-2" cols="30" rows="7" v-model="comment"></textarea>
            </div>
            <div class="sub-leg">
               <button type="submit" href="#" class="mt-1 mb-4 btn btn-primary btn-lg btn-block enlace-ter" >Comentar</button>
            </div>
         </form>
      </div>
   </div>
</template>
<script>
   import HeaderLight from '@/components/general/HeaderLight.vue';
   
   import {mapState,mapMutations} from 'vuex';
   
   export default {
     name: 'Comments',
     components: {
       HeaderLight
     },
     data(){
        return {
           back: this.$route.params.back,
           backSec: this.$route.params.backSec,
           comments: [],
           comment: '',
           document: {},
        }
     },
     computed: {
            ...mapState(['filter'])
      },
     mounted() {
        this.document = this.filter.files.document;
        this.getComments();
     },
     methods: {
        ...mapMutations(['setFilterFiles','setSettingUp']),
        getDate() {
         var today = new Date();
         var dd = today.getDate();
         var mm = today.getMonth() + 1; //January is 0!
         var yyyy = today.getFullYear();
         if (dd < 10) {
            dd = '0' + dd;
         }
         if (mm < 10) {
            mm = '0' + mm;
         }
         today = yyyy + '-' + mm + '-' + dd;
         return today;
      },
        create: function(){
           let c = {
					CommentId: -1,
					InvestorId:  this.$store.state.inversor.InvestorId,
					DocumentId: this.document.DocumentId,
					CommentText: this.comment,
					CreatedOn: this.getDate(),
					UpdatedOn: this.getDate()
				};
            this.$store.dispatch('setComment', c).then(res => {
               this.getComments();
               this.cleanForm();
            }, error => {
               this.cleanForm();
            });
        },
        cleanForm : function(){
            this.comment = '';
         },
         getComments(){
            this.setSettingUp('starting');
            this.$store.dispatch('getCommentsV2', this.document.DocumentId).then( data => {
               this.comments = data.data;
               this.setSettingUp('done');
              })
          .catch(error => {
                console.error(error)
                this.setSettingUp('done');
            });
         },
         getCommentsByDoc(){
            return this.$store.getters.commentsByDocument(this.document);
         }
     },
     
   }
</script>