<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>
      
      <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

      <CompanyHeader :companies="companies" 
                  :CompanyId="filter.companyId" 
                  :GroupId="filter.groupId"
                  @reloadFromFilterFiles="reloadFromFilterFiles()"></CompanyHeader>

      

      <div class="btns_acceso_directos my-5 p-2">
         <router-link :to="{name:'dashboard-venues-maps'}">
            <img src="@/assets/img/4.png">
            <p>Sedes</p>
         </router-link>
         <a href="#" data-toggle="modal" data-target="#modal-dividendos">
            

            <img src="@/assets/img/marrano.png" >
            <p v-if="showMethod(GroupId)">Dividendos</p>
            <p v-if="!showMethod(GroupId)">Honorarios</p>

         </a>
         <a href="#" data-toggle="modal" data-target="#modal-agenda">
            <img src="@/assets/img/3.png">
            <p>Agenda</p>
         </a>
      </div>

      <div class="line-mitad-w ">
         <span></span>
         <div class="box-mitad-w"></div>
         <div id="chevron-w"></div>
         <span></span>
      </div>

      <div class="btns_acceso_directos btns_ac_di my-3 p-2"
         v-for="(group,index) of getCategoriesByGroup(categories)"
         :key="index">

         <a v-for="(category, index2) of group" 
           :key="index2"
           @click="goToFiles(category)"
           >
            <i v-bind:class="getIcon(category.Clase) + ' icons'"></i>
            <p v-text="category.Name"></p>
         </a> 
        
      </div>

      </div>

      </div>
     
      <br>
      <br>
 
      <MenuFixed :back="backFromMenu"></MenuFixed>

      <!-- Modal dividendos-->
      <ModalDividens :companies="companies"></ModalDividens>
      <!-- Modal dividendos-->

      <!-- Modal agenda-->
      <ModalDiary :companies="companies" :backFromMenu="'dashboard-company'"></ModalDiary>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import CompanyHeader from '@/components/company/CompanyHeader.vue';
   import ModalDiary from '@/components/dashboard/ModalDiary.vue';
   import ModalDividens from '@/components/dashboard/ModalDividens.vue';  
    import Profile from '@/components/general/Profile.vue';

   
   import {mapState, mapMutations} from 'vuex';
   
   export default {
      name: 'Company',
      components: {
         Header,
         MenuFixed,
         CompanyHeader,
         ModalDiary,
         ModalDividens,
         Profile,
      },
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            back: 'dashboard-company',
            backFromMenu: 'dashboard',
         }
      },
      mounted(){
         this.CompanyId = this.filter.companyId;
         this.GroupId = this.filter.groupId;
         if(this.GroupId == '' || this.GroupId == 0){
            let filter = this.filter;
            this.CompanyId = this.filter.companyId =this.tempFilter.companyId;
            this.GroupId = this.filter.groupId = this.tempFilter.groupId;
            this.setFilter(filter); 
         }
         this.setNavigationMain('dashboard-company');
         
         this.$store.dispatch('getDataByModule', this.$store.state.currentPage);
         
      },
      computed: {
         ...mapState(['companies','notifications', 'categories', 'filter', 'tempFilter','navigationMain'])
      },
      methods: {
         ...mapMutations(['setFilter','setFilterFiles','setNavigationMain']),
         getCategoriesByGroup: function(categories){
           let three = [];
           let group = [];
           for (let index = 0; index < categories.length; index++) {
              const element = categories[index];
              three.push(element);
              if( three.length % 3 == 0){
                 group.push(three);
                 three = [];
              }
           }
           if(three.length > 0){
              group.push(three);
           }
           return group;
         },
         goToFiles(category){
            const filter = this.filter;
            filter.category = category;
            filter.categoryId = category.CategoryId;
            filter.categories = this.categories;
            this.setFilter(filter);
           
            this.setFilterFiles({companyId: this.CompanyId
               , groupId: this.GroupId
               , category: category
               , categoryId: category.CategoryId
               , categories: this.categories});
            this.$router.push({ name: 'dashboard-files', params: {back: this.back} });
         },
         getIcon(icon){
            if(icon == null){
               return "icon-flag";
            }
            return icon;
         },
         reloadFromFilterFiles(){
            
            this.CompanyId = this.filter.companyId;
            this.GroupId = this.filter.groupId;
            this.$store.dispatch('getDataByModule', this.$store.state.currentPage);
         },
         showMethod(group){
            var list = [37, 40, 46, 47, 48, 55];
            for (let i = 0; i < list.length; i++) {
               const element = list[i];
                if(element == group){
                  return true;
               }
            }
            return false;
         }
      }

   }
</script>
