<template>
  <div class="dasboard-home">

   <Header :notifications="notifications" :back="'dashboard'" class="dash-header"></Header>

    <div class="container-fluid px-0 box-dashboard-g">
         
          <Profile></Profile>

         <div class="my-contenido-flex my-contenido-flex-home">
            <!--Fin Carrusel-->
            <CarruselNewsItem :articles="articles" ></CarruselNewsItem>
            <!--Fin Carrusel-->
            <!--Accesos Directos-->
            <div class="btns_acceso_directos" >
               <a href="#"  data-toggle="modal" data-target="#modal-documentos-finalcial-info">
                  <img src="@/assets/img/1.png">
                  <p>Información <br> Financiera</p>
               </a>
               <a href="#" data-toggle="modal" data-target="#modal-documentos-articles">
                  <img src="@/assets/img/2.png">                  
                  <p>Artículos<br> de Interés</p> 
               </a>
              
               <a href="#" data-toggle="modal" data-target="#modal-agenda">
                  <img src="@/assets/img/3.png">
                  <p>Agenda</p>
               </a>
            </div>
            <div class="btns_acceso_directos" >
               <a href="#"  data-toggle="modal" data-target="#modal-actas">
                  <img src="@/assets/img/master-actas.png">
                  <p>Actas</p>
               </a>
               <a href="#" data-toggle="modal" data-target="#modal-informes-preliminares">
                  <img src="@/assets/img/master-informes.png">                  
                  <p>Informes <br> Preliminares</p>
               </a>
              
               <router-link :to="{name:'dashboard-news'}">
                  <img src="@/assets/img/master-noticias.png">
                  <p>Noticias</p>
               </router-link>
            </div>
            <!--Accesos Directos-->
         </div>
         
          <MenuFixed :back="back" ></MenuFixed>

      </div>

   

      <!-- Modal documentos-->
      <ModalArticles :companies="companies" :backFromMenu="'dashboard'"></ModalArticles>
      <ModalFinancialInfo :companies="companies" :backFromMenu="'dashboard'"></ModalFinancialInfo>
      <ModalActas :companies="companies" :backFromMenu="'dashboard'"></ModalActas>
      <ModalInformesPreliminares :companies="companies" :backFromMenu="'dashboard'"></ModalInformesPreliminares>
      



      <!-- Modal agenda-->
      <ModalDiary :companies="companies" :backFromMenu="'dashboard'"></ModalDiary>

  </div>
</template>


<script>

import Header from '@/components/general/Header.vue';
import HeaderDashboad from '@/components/dashboard/HeaderDashboad.vue';
import CarruselNewsItem from '@/components/dashboard/CarruselNewsItem.vue';
// import ModalFiles from '@/components/dashboard/ModalFiles.vue';
import ModalFinancialInfo from '@/components/dashboard/ModalFinancialInfo.vue';
import ModalActas from '@/components/dashboard/ModalActas.vue';
import ModalInformesPreliminares from '@/components/dashboard/ModalInformesPreliminares.vue';
import ModalArticles from '@/components/dashboard/ModalArticles.vue';
import ModalFiles from '@/components/dashboard/ModalFiles.vue';
// import ModalDividens from '@/components/dashboard/ModalDividens.vue';
import ModalDiary from '@/components/dashboard/ModalDiary.vue';
import MenuFixed from '@/components/general/MenuFixed.vue';

import Profile from '@/components/general/Profile.vue';

import {mapState,mapMutations} from 'vuex';
import { watch } from 'fs';

export default {
  name: 'Dashboard',
  components: {
    Header,
    HeaderDashboad,
    CarruselNewsItem,
    ModalFinancialInfo,
    ModalActas,
    ModalInformesPreliminares,
    ModalArticles,
   //  ModalFiles,
   //  ModalDividens,
    ModalDiary,
    MenuFixed,
    Profile

  },
  data(){
     return {
       back: '',
     }
  },
  computed: {
    ...mapState(['user','articles','companies','notifications', 'filter','settingUp','redirect'])
  },
  mounted(){

     if(this.redirect != ''){
        this.$router.push(this.redirect);
     }
     
     this.$log.info('Dashboad','mounted2');
     this.setNavigationMain('dashboard');
     this.$store.dispatch('getDataByModule', this.$store.state.currentPage);
     this.setFilter({companyId:'', groupId:''});
     if(this.articles.length == 0){
        this.$store.dispatch('getDataByModule', 'articles');
     }
  },
  methods: {
     ...mapMutations(['setFilter','setNavigationMain']),
     loadData(){
        this.setFilter({companyId:'', groupId:''});
        this.$log.info('dashboard', this.user.email);
     
     }
  }
}
</script>

