<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>

       <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

      <CompanyHeader :companies="companies" :CompanyId="filter.companyId" :GroupId="filter.groupId"></CompanyHeader>
      <form v-on:submit.prevent="create" class="dividens-box">
         <div class="titulo-divi">
            <img src="@/assets/img/2.png">
            <h2 v-if="CompanyId == 49">Dividendos</h2>
            <h2 v-if="CompanyId != 49">Honorarios</h2>
         </div>
         <div class="card mb-3 border shadow-none p-3 m-3 mt-0 mb-4">
            <p>Detalles de la cuenta</p>
            <div class=" selescts-agenda">
               <select id="ano-agenda-dividens" required="required" class="form-control empresa mb-2" v-model="fee.year">
                  <option value="">Año</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  
               </select>
               <select id="mes-agenda-dividens" required="required" class="form-control empresa mb-2" v-model="fee.month">
                  <option value="">Mes</option>
                   <option v-for="(month,index) in months" :key="index"
                           v-bind:value="month" v-text="getMonthName(month)" 
                           v-if="month != 0"></option>
                  
               </select>
            </div>
            <select id="banco" class="form-control mb-2" v-model="fee.financialInstitution" required>
               <option value="">Banco</option>
               <option v-for="item in financialInstitutions" :key="item.FinancialInstitutionId" :value="item"> 
                  {{item.Name}} 
               </option>
            </select>
            <select id="ti_cuenta" class="form-control mb-2" v-model="fee.accountType" required>
               <option value="">Tipo de cuenta</option>
               <option value="Cuenta de Ahorros">Cuenta de Ahorros</option>
               <option value="Cuenta Corriente">Cuenta Corriente</option>
            </select>
            <input type="text" name="cuenta" class="form-control mb-2" 
               placeholder="# Cuenta" v-model="fee.accountNumber" required>
            <input type="text" name="c_cuenta" class="form-control mb-2" 
               placeholder="Confirmar # Cuenta" v-model="fee.confirmAccount" required>
         </div>
         <div class="card mb-3 border shadow-none p-3 m-3 mb-4">
            <p>Detalles del titular</p>
            <select id="tipo_doc" class="form-control mb-2" v-model="fee.identificationType" required>
               <option value="">Tipo Documento</option>
               <option value="1">Cédula de Ciudadanía</option>
               <option value="2">Extranjeria </option>
               <option value="3">Tarjeta de Identidad </option>
            </select>
            <input type="text" name="documento" 
               class="form-control mb-2" placeholder="# Documento" 
               maxlength="20" pattern="\d*" v-model="fee.identification" required>
            
            <input type="text" name="dividend-owner" class="form-control mb-2" 
               placeholder="Nombre Titular" maxlength="50"
               v-model="fee.ownerName" required />
         </div>
         <div class="card mb-3 border shadow-none p-3 m-3 mb-4">
            <p>Instrucciones adicionales</p>
            <textarea placeholder="Escribir instrucción adicional" 
               class="form-control mb-2" cols="30" rows="7" v-model="fee.notes"></textarea>
         </div>
         <div class="card mb-3 border shadow-none p-3 m-3 mb-3">
            <p>Documentos anexos</p>
            <div class="upload-btn-wrapper">
               <button class="c-c-f">Cuenta de cobro / factura</button>
               <input id="dividend-bill" type="file" name="dividend-bill" ref="billFile" v-on:change="handleBillFileUpload" required />
            </div>
            <div class="upload-btn-wrapper">
               <button class="s-s">Seguridad social</button>
               <input id="dividend-health" type="file" name="dividend-health" ref="healthFile" v-on:change="handleHealthFileUpload" required />
            </div>
            <div class="upload-btn-wrapper">
               <button class="d-r">Declaración de renta</button>
               <input id="dividend-tax" type="file" name="dividend-tax" ref="taxFile" v-on:change="handleTaxFileUpload" required />
            </div>
         </div>
         <div class="sub-leg">
            <button type="submit" href="#" class="mt-1 mb-4 btn btn-primary btn-lg btn-block enlace-ter" >Enviar</button>
            <!-- <button type="submit" href="#" class="mt-1 mb-4 btn btn-primary btn-lg btn-block enlace-ter" data-toggle="modal" data-target="#modal-dividendos-f">Enviar</button> -->
            <p class="mini-legal">Se debe adjuntar todo los datos y documentos solicitados para hacer efectivo los pagos.



Escribe un mensaje aquí
</p>
         </div>
      </form>
      <!--Fin noticias-->
      <div class="modal fade" id="modal-dividendos-f" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body p-4 box-content-modal">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="public/img/close.png"></span>
                  </button>
                  <img src="public/img/2.png">
                  <h3>¡Felicidades!</h3>
                  <p>El proceso de cobro de sus dividendos se ha enviado con éxito.</p>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>
      <MenuFixed :back="backFromMenu"></MenuFixed>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import CompanyHeader from '@/components/company/CompanyHeader.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import Profile from '@/components/general/Profile.vue';
   
   import {mapState} from 'vuex';
   
   
   export default {
     name: 'Dividens',
     components: {
       Header,
       CompanyHeader,
       MenuFixed,
         Profile
     },
      data(){
       return {
         CompanyId: '',
         GroupId: '',
         back:'dashboard-dividends',
         backFromMenu:'dashboard',
         months: [1,2,3,4,5,6,7,8,9,10,11,12],
         fee: {
            financialInstitution: "",
            ownerName: "",
            accountNumber: "",
            accountType: "",
            identificationType: "",
            identification: "",
            billType: "dividend",
            investorId: -1,
            notes: "",
            group: null,
            year:'',
            month:'',
            files: {
               bill: {},
               health: {},
               tax: {}
            }
         }
       }
      },
      computed: {
         ...mapState(['companies', 'notifications','financialInstitutions' ,'inversor', 'filter'])
      },
      mounted(){
         this.$store.dispatch('getDataByModule', this.$store.state.currentPage);
         this.CompanyId = this.filter.companyId;
         this.GroupId = this.filter.groupId;
         
      },
      methods: {
         handleHealthFileUpload() {
            this.fee.files.health = this.$refs.healthFile.files;
         },
         handleBillFileUpload() {
            this.fee.files.bill = this.$refs.billFile.files;
         },
         handleTaxFileUpload() {
            this.fee.files.tax = this.$refs.taxFile.files;
         },
         getMonthName(month){
            const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                           , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
            if(months[month] != 'undefinded'){
               return months[month];
            }
            return '';
         },
         create: function () {
            
            this.fee.group = this.group;
            this.fee.investorId = this.inversor.InvestorId;
            var fee = this.fee;
            this.GroupId = this.filter.groupId;
            var bodyFormData = new FormData();
   
            bodyFormData.set('BillId', -1)
            bodyFormData.set('InvestorId', fee.investorId)
            bodyFormData.set('FinancialInstitution', fee.financialInstitution.Name)
            bodyFormData.set('AccountNumber', fee.accountNumber, )
            bodyFormData.set('Identification', fee.identification)
            bodyFormData.set('OwnerName', fee.ownerName)
            bodyFormData.set('IdentificationType', fee.identificationType)
            bodyFormData.set('AccountType', fee.accountType)
            bodyFormData.set('GroupId', this.GroupId)
            bodyFormData.set('Notes', fee.notes)
            bodyFormData.set('Year', fee.year)
            bodyFormData.set('Month', fee.month)
            bodyFormData.set('BillType', fee.billType)
            bodyFormData.append('HealthFile', this.$refs.healthFile.files[0])
            bodyFormData.append('BillFile', this.$refs.healthFile.files[0])
            bodyFormData.append('TaxFile', this.$refs.healthFile.files[0])
   
   
            this.$store.dispatch('setBill', bodyFormData).then(res => {
               this.cleanForm();
            }, error => {
               this.cleanForm();
            });
         },
         cleanForm : function(){
            this.fee.confirmAccount= "",
            this.fee.financialInstitution= "";
            this.fee.ownerName= "";
            this.fee.accountNumber= "";
            this.fee.accountType= "Cuenta de Ahorros";
            this.fee.identificationType= "";
            this.fee.identification= "";
            this.fee.billType= "dividend";
            this.fee.notes= "";
            this.fee.year= "";
            this.fee.month= "";
            this.fee.files.bill={};
               this.fee.files.health= {};
               this.fee.files.tax= {};
         }
      }
   }
</script>
<style scoped>
   .upload-btn-wrapper {
   position: relative;
   overflow: hidden;
   display: inline-block;
   }
   .btn {
   border: 2px solid gray;
   color: gray;
   background-color: white;
   padding: 8px 20px;
   border-radius: 8px;
   font-size: 20px;
   font-weight: bold;
   }
   .upload-btn-wrapper input[type=file] {
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
   }
</style>