<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>
      <div class="container-fluid px-0 box-dashboard-g">
         <Profile></Profile>
         <div class="my-contenido-flex-w">
            <CompanyHeaderWithPicker :companies="companies" 
               :CompanyId="filter.companyId" 
               :GroupId="filter.groupId"
               @reloadFromFilterFiles="reloadFromFilterFiles()">
            </CompanyHeaderWithPicker>
            <div class="titulo-file-company">
               <i v-bind:class="'icons '+filter.category.Clase"></i>
               <div class="txt-file">
                  <h3 v-text="name"></h3>
                  <p>Listado documentos</p>
               </div>
            </div>
            <FilesAge :run="run"></FilesAge>
         </div>
      </div>
      <MenuFixed :back="backFromMenu"></MenuFixed>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import CompanyHeaderWithPicker from '@/components/company/CompanyHeaderWithPicker.vue';
   import FilesAge from '@/components/files/FilesAge.vue';
    import Profile from '@/components/general/Profile.vue';
   
   import {mapState,mapMutations} from 'vuex';
   
   export default {
      name: 'Files',
      components: {
        Header,
        MenuFixed,
        CompanyHeaderWithPicker,
        FilesAge, 
         Profile
      },
      data(){
        return {
          CompanyId: '',
          GroupId: '',
          category: '',
          back: this.$route.params.back,
          backFromMenu:this.$route.params.backFromMenu,
          name: '',
          run: '',
        }
      },
      computed: {
         ...mapState(['companies','notifications', 'categories', 'filter','navigationMain'])
      },
      mounted(){
         if(this.backFromMenu == null || this.backFromMenu == undefined || typeof this.backFromMenu === 'undefined' ){
            this.backFromMenu = this.navigationMain;
         }
          this.category = this.filter.category;
          this.name = this.category.Name;
          this.CompanyId = this.filter.companyId;
          this.GroupId = this.filter.groupId;
      },
      methods: {
        reloadFromFilterFiles(){
          this.category = this.filter.files.category;
          this.name = this.category.Name;
          this.CompanyId = this.filter.files.companyId;
          this.GroupId = this.filter.files.groupId;
          this.run = new Date();
        }
      },
   }
</script>