<template>
  <div class="header-100w">

  	<HeaderLight :back="back" class="header-dashboard-file"></HeaderLight>

    
    <div class="my-contenido-flex my-contenido-flex-w pt-0 mt-0 mb-0 w-100 px-0 mx-0" style="margin-top: 0px !important; background: #f2f3f3;">
        
      <div class="cabezote-file">
        <div class="titulo-company">
            <h3 v-text="company.Name"></h3>
            <h4 v-text="group.Name+' / '+category.Name"></h4>
        </div>
        <div class="actions_file">
            <p class="date-file" v-text="getDate()"></p>
            <a v-if="!so" v-bind:href="document.DownloadPdf"
               class="descargar-file" ><i class="icon-arrow-down-circle icons "></i>Descargar</a>
            <a v-if="so" v-bind:href="urlDrive+pdfUrlDownload+document.DocumentId"
               class="descargar-file" target="_blank" ><i class="icon-arrow-down-circle icons "></i>Descargar</a>
            

            <a @click="goToComments()" class="comentar-file"><i class="icon-speech icons"></i>Comentar</a> 
        </div>
        <h2 class="name-file" v-text="filter.files.document.Title"></h2>

      </div>
              
    </div>
    

    <div id="pdfvuer">
      <div id="buttons" class="btn-list" ref="buttons">

      </div>
      <pdf :src="pdfdata" v-for="i in numPages" :key="i" :id="i" :page="i" :scale="scale" style="width:100%;margin:20px auto;">
        <template slot="loading">
          loading content here...
        </template>
      </pdf>
    </div>
  </div>
</template>
<script type="text/javascript">

import {mapState,mapMutations} from 'vuex';
	
import HeaderLight from '@/components/general/HeaderLight.vue';

import pdfvuer from 'pdfvuer'

import { isMobile,isIOS } from 'mobile-device-detect';

export default {
  name: 'File',
  components: {
    HeaderLight,
    pdf: pdfvuer,
  },
  data(){
    return {
      back: this.$route.params.back,
      document: {},
      category: {},
      company: {},
      group: {},
      urlDrive: 'https://docs.google.com/viewerng/viewer?url=',
      pdfUrl: 'http://34.222.97.29/Seissa.Web/api/application/v2/ViewPdf?documentId=',
      pdfUrlDownload: 'http://34.222.97.29/Seissa.Web/api/application/v2/DownloadPdf?documentId=',

      page: 1,
      numPages: 0,
      pdfdata: undefined,
      errors: [],
      scale: 'page-width',
      show: false,

      mobile: isMobile ? 'Welcome to Your Vue.js mobile App!' : 'Welcome to Your Vue.js App',
      so: false,
    }
  },
  computed: {
       ...mapState(['filter','documents', 'companies', 'groups'])
  },
  watch: {
			show: function (s) {
				if (s) {
					this.getPdf();
				}
			},
			page: function (p) {
				if (window.pageYOffset <= this.findPos(document.getElementById(p)) || (document.getElementById(p + 1) && window.pageYOffset >=
						this.findPos(document.getElementById(p + 1)))) {
					document.getElementById(p).scrollIntoView();
				}
			}
		},
  mounted(){
    
    this.so = isIOS;
    this.document = this.filter.files.document;
    this.filter.categories.forEach(element => {
      if(element.CategoryId == this.filter.categoryId){
        this.category = element;
      }
    });

    this.companies.forEach(element => {
      if(element.CompanyId == this.filter.companyId){
        this.company = element;
      }
    });

    this.groups.forEach(element => {
      if(element.GroupId == this.filter.groupId){
        this.group = element;
      }
    });
    this.setSettingUp('starting');
    this.show = true;
  },
  methods: {
    ...mapMutations(['setFilterFiles','setSettingUp']),
    download: function(filename, text = 'pdf') {
      const pdf = this.document.PdfBase64;
     
      var element = document.createElement('a');
      element.setAttribute('href', pdf);
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();

      document.body.removeChild(element);
    },
    getDate(){
      const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                              , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
      return this.document.Year+' - '+months[this.document.Month];
    },
    goToComments(){
      this.$router.push({ name: 'dashboard-comments' ,params: {back: 'dashboard-file', backSec:this.back}})
    },
    goToFile(){
           this.setSettingUp('starting');
           let url = 'http://34.222.97.29/Seissa.Web/api/application/v2/Pdf?documentId='+this.document.DocumentId;
            this.$store.dispatch('getDocument', url).then( data => {
              this.document.PdfBase64 = data.data.Base64;
              this.setSettingUp('done');
              this.download('document.pdf')
              })
          .catch(error => {
                console.log('error en el doc')
                console.error(error)
                this.setSettingUp('done');
            });
         },

    getPdf() {
				var self = this;

				var $this=this;
				self.pdfdata = pdfvuer.createLoadingTask(this.document.PdfUrl);

				self.pdfdata.then(pdf => {
          this.setSettingUp('done');
					self.numPages = pdf.numPages;
					window.onscroll = function () {
						changePage()
						stickyNav()
					}

					// Get the offset position of the navbar
					var sticky = 	this.$refs.buttons.offsetTop;

									

					function changePage() {
						var i = 1,
							count = Number(pdf.numPages);
						do {
							if (window.pageYOffset >= self.findPos(document.getElementById(i)) &&
								window.pageYOffset <= self.findPos(document.getElementById(i + 1))) {
								self.page = i
							}
							i++
						} while (i < count)
						if (window.pageYOffset >= self.findPos(document.getElementById(i))) {
							self.page = i
						}
					}
				});
			},
			findPos(obj) {
       try{
         return obj.offsetTop;
       }catch(error){
         return 0;
       }
				
      }
      


  }
}

</script>
<style type="text/css">
      .header-dashboard-file {
        position: relative;
      }
</style>
