<template>
  <div class="header-100w">

    <Header :notifications="notifications" :back="back"></Header>

 <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

    <CompanyHeaderWithPicker :companies="companies" 
                              :CompanyId="filter.companyId" 
                              :GroupId="filter.groupId"
                              @reloadFromFilterFiles="reloadFromFilterFiles()">
    </CompanyHeaderWithPicker>

    <div class="titulo-file-company">
                  <i v-bind:class="'icons '+filter.category.Clase"></i>
                  <div class="txt-file">
                     <h3 v-text="name"></h3>
                     <p>Listado documentos</p>
                  </div>
    </div>

    <FilesMonthC :run="run"></FilesMonthC>

  </div>
</div>

    <MenuFixed :back="backFromMenu"></MenuFixed>
    
  </div>
</template>

<script>
   import Header from '@/components/general/Header.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import FilesMonthC from '@/components/files/FilesMonth.vue';
   import Profile from '@/components/general/Profile.vue';

   import CompanyHeaderWithPicker from '@/components/company/CompanyHeaderWithPicker.vue';
   
   import {mapState} from 'vuex';

   export default {
      name: 'FilesMonth',
      components: {
        Header,
        MenuFixed,
        FilesMonthC,
        CompanyHeaderWithPicker,
        Profile
      },
      data(){ 
        return {
          CompanyId: '',
          GroupId: '',
          category: '',
          back: 'dashboard-files',
          backFromMenu: 'dashboard-files',
          name: '',
          run: '',
        }
      },
      computed: {
         ...mapState(['companies','notifications', 'categories', 'filter'])
      },
      mounted(){
        this.category = this.filter.category;
        this.name = this.category.Name;
         this.CompanyId = this.filter.companyId;
         this.GroupId = this.filter.groupId;
      },
       methods: {
        reloadFromFilterFiles(){
          this.category = this.filter.category;
          this.name = this.category.Name;
          this.CompanyId = this.filter.companyId;
          this.GroupId = this.filter.groupId;
          this.run = new Date();
        }
      },
   }
</script>