<template>
  <div class="header-100w">
    
  
  </div>
</template>
<script type="text/javascript">

import {mapState,mapMutations} from 'vuex';
	
import HeaderLight from '@/components/general/HeaderLight.vue';

import { isMobile,isIOS } from 'mobile-device-detect';

export default {
  name: 'GoCategories',
  components: {
    HeaderLight,

  },
  data(){
    return {
      //back: this.$route.params.back,
      back: 'dashboard',
      documentId : this.$route.params.id,
      CompanyId: 49,
      GroupId: 37,
      category: '',
      years: [],
      months: [],
      categories_select : [],
      year: '',
      month: '',
    }
  },
  computed: {
       ...mapState(['documents', 'companies', 'groups'])
  },
  watch: {
		
		},
  mounted(){
      this.setFilterFiles({companyId: 49, groupId: 37});
       this.$store.dispatch('getDataByModule','dashboard').then(res => {
        this.$store.dispatch('getDataByModule', 'articles').then(res => {
          this.getCategories();
         })
       });
      
  },
  methods: {
    ...mapMutations(['setFilterFiles','setSettingUp','setRedirect','setMessage','setFilter']),
     getCategories(){
      this.setFilterFiles({companyId: this.CompanyId, groupId: this.GroupId});
      this.$store.dispatch('getDataByModule', 'documents-modal-categories-no-store').then(res => {
          let exists = false;
          res.forEach(element => {
            if(element.CategoryId == 54){
                this.category = element
                exists = true;
            }
          });
          if(!exists){
            this.setMessage({type:'ERROR',desc: "No esta habilitada la categoría de información Financiera en este momento"})
          }
          this.categories_select = res;
          this.send();
      }, error => {
          console.log(error);
      });
      this.category = this.year =  this.month =  '';
    },
    send(){
      
      this.setFilter({companyId: this.CompanyId
          , groupId: this.GroupId
          , category: this.category
          , categoryId: this.category.CategoryId
          , categories: this.categories_select});
      this.setFilterFiles({companyId: this.CompanyId
          , groupId: this.GroupId
          , category: this.category
          , categoryId: this.category.CategoryId
          , categories: this.categories_select});
      
      
      this.$router.push({ name: 'dashboard-category-files', params: {back: 'dashboard', backFromMenu: 'dashboard'} })
    },
   

  }
}

</script>
