<template>
  <div class="header-100w">

  	<HeaderLight :back="back" class="header-dashboard-file" style="position: relative;"></HeaderLight>
    <div class="my-contenido-flex my-contenido-flex-w pt-0 mt-0 w-100 px-0 mx-0" v-if="show == true" style="margin-top: 0px !important;">
        
      <div class="cabezote-file">
        <div class="titulo-company">
            <h3 v-text="company.Name"></h3>
            <h4 v-text="group.Name"></h4>
            <h4 v-text="document.Title"></h4>
            <!-- <h4 v-text="group.Name+' / '+category.Name"></h4> -->
        </div>
        <div class="actions_file">
            <p class="date-file" v-text="getDate()"></p>
            <a v-if="!so" v-bind:href="document.DownloadPdf"
               class="descargar-file" ><i class="icon-arrow-down-circle icons "></i>Descargar</a>
            <a v-if="so" v-bind:href="urlDrive+pdfUrlDownload+document.DocumentId"
               class="descargar-file" target="_blank" ><i class="icon-arrow-down-circle icons "></i>Descargar</a>
            
        </div>
    

      </div>
              
    </div>
    

    <div id="pdfvuer">
      <div id="buttons" class="btn-list" ref="buttons">
        
      </div>
      <pdf :src="pdfdata" v-for="i in numPages" :key="i" :id="i" :page="i" :scale="scale" style="width:100%;margin:20px auto;">
        <template slot="loading">
          loading content here...
        </template>
      </pdf>
    </div>
  </div>
</template>
<script type="text/javascript">

import {mapState,mapMutations} from 'vuex';
	
import HeaderLight from '@/components/general/HeaderLight.vue';

import pdfvuer from 'pdfvuer'

import { isMobile,isIOS } from 'mobile-device-detect';

export default {
  name: 'GoDocument',
  components: {
    HeaderLight,
    pdf: pdfvuer,
  },
  data(){
    return {
      
      back: 'dashboard',
      documentId : this.$route.params.id,
      document: {Title: ''},
      category: {},
      company: {},
      group: {},
      urlDrive: 'https://docs.google.com/viewerng/viewer?url=',
      pdfUrl: 'https://admin.intranet.seissa.co/api/application/v2/ViewPdf?documentId=',
      pdfUrlDownload: 'https://admin.intranet.seissa.co/api/application/v2/DownloadPdf?documentId=',

      page: 1,
      numPages: 0,
      pdfdata: undefined,
      errors: [],
      scale: 'page-width',
      show: false,

      mobile: isMobile ? 'Welcome to Your Vue.js mobile App!' : 'Welcome to Your Vue.js App',
      so: false,
      filter: '',
    }
  },
  computed: {
       ...mapState(['documents', 'companies', 'groups'])
  },
  watch: {

			show: function (s) {
				if (s) {
					this.getPdf();
				}
			},
			page: function (p) {
				if (window.pageYOffset <= this.findPos(document.getElementById(p)) || (document.getElementById(p + 1) && window.pageYOffset >=
						this.findPos(document.getElementById(p + 1)))) {
					document.getElementById(p).scrollIntoView();
				}
      },

		},
  mounted(){
      this.setRedirect('');

      let filter = [];
      
    
      this.$store.dispatch('getDocumentV2', this.documentId).then(res => {
        this.document = res.data;
        filter.companyId = 0;
        filter.groupId = this.document.GroupId;
        filter.year = this.document.Year;
        filter.month = this.document.Month;
        this.parametrize(filter);
        this.show = true;
        if(this.document.Title == ""){
          this.setMessage({type:'ERROR',desc: "El archivo no está disponible en este momento"})
          this.$router.push('/dashboard');  
        }
      }, 
      error => {
        console.log(error);
      });

    this.so = isIOS;


  },
  methods: {
    ...mapMutations(['setFilterFiles','setSettingUp','setRedirect','setMessage']),
    
    parametrize: function(filter){
        this.companies.forEach(element => {
          if(element.CompanyId == filter.companyId){
            this.company = element;
          }
        });  
        this.groups.forEach(element => {
          if(element.GroupId == filter.groupId){
            this.group = element;
          }
        });
       
    },
    download: function(filename, text = 'pdf') {
      const pdf = this.document.PdfBase64;
     
      var element = document.createElement('a');
      element.setAttribute('href', pdf);
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();

      document.body.removeChild(element);
    },
    getDate(){
      const months = ['','Enero', 'Febrero', 'Marzo', 'Abril','Mayo', 'Junio'
                              , 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
      return this.document.Year+' - '+months[this.document.Month];
    },
    goToComments(){
      this.$router.push({ name: 'dashboard-comments' ,params: {back: 'dashboard-file'}})
    },
    goToFile(){
           this.setSettingUp('starting');
           let url = 'https://admin.intranet.seissa.co/api/application/v2/Pdf?documentId='+this.document.DocumentId;
            this.$store.dispatch('getDocument', url).then( data => {
              this.document.PdfBase64 = data.data.Base64;
              this.setSettingUp('done');
              this.download('document.pdf')
              })
          .catch(error => {
                console.error(error)
                this.setSettingUp('done');
            });
         },

    getPdf() {
				var self = this;

				var $this=this;
				self.pdfdata = pdfvuer.createLoadingTask(this.document.PdfUrl);

				self.pdfdata.then(pdf => {
          this.setSettingUp('done');
					self.numPages = pdf.numPages;
					window.onscroll = function () {
						changePage()
						stickyNav()
					}

					// Get the offset position of the navbar
					var sticky = 	this.$refs.buttons.offsetTop;


					function changePage() {
						var i = 1,
							count = Number(pdf.numPages);
						do {
							if (window.pageYOffset >= self.findPos(document.getElementById(i)) &&
								window.pageYOffset <= self.findPos(document.getElementById(i + 1))) {
								self.page = i
							}
							i++
						} while (i < count)
						if (window.pageYOffset >= self.findPos(document.getElementById(i))) {
							self.page = i
						}
					}
				});
			},
			findPos(obj) {
				return obj.offsetTop;
      }
      


  }
}

</script>
