<template>
  <div class="header-100w">
    

	<HeaderLight :back="back"></HeaderLight>


<div class="content-news" >

	<img v-bind:src="article.ImageUrl" class="img-fluid" style="width: 100%;">   
         <div class="box-noticia">
            <h3 v-text="article.Title"></h3>
            <div class="like-noticia" >
               
            </div>
         </div>
         <p class="txt_noticia"  v-html="article.Text"></p>

</div>

  </div>
</template>

<script type="text/javascript">
	
import HeaderLight from '@/components/general/HeaderLight.vue';

import {mapState,mapMutations} from 'vuex';

export default {
  name: 'GoNew',
  components: {
    HeaderLight
  },
  data(){
    return {
      back: 'dashboard',
      ArticleId: this.$route.params.id,
      article: {Title: '',CreatedOn: ''},
      image: '',
    }
  },
  computed: {
    ...mapState(['articles'])
  },
  mounted: function(){
     
      this.setRedirect('');
      this.$store.dispatch('getArticle', this.ArticleId).then(res => {
          this.article = res.data;
          if(this.article.Title == ""){
            this.setMessage({type:'ERROR',desc: "La noticia no está disponible en este momento"})
            this.$router.push('/dashboard');  
          }
          this.$store.dispatch('closeLoading');
      }, error => {
          console.log(error);
      });
      
  },
  methods:{
    ...mapMutations(['setRedirect','setMessage']),
     getDate(date){
       if(date == ''){
         return '';
       }
        var date = new Date(date);
        var options = { weekday: "long", year: "numeric", month: "short", day: "numeric" };
        let current = date.toLocaleDateString('es-ES', options);

        current = current.replace(/(^|\s)\S/g, l => l.toLowerCase());
        return current.charAt(0).toUpperCase() + current.slice(1);
      },
      getImagen(item){
      this.$store.dispatch('getImage', item.ImageUrl).then( data => {
            this.image = data.data.Base64;
        })
        .catch(error => {
          console.error(error)
        });
    }
  }
}

</script>

