<template>
  <div class="header-100w">
    

	<HeaderLight :back="back"></HeaderLight>


 <div class="container-fluid px-0 box-dashboard-g" >
         
          <Profile></Profile>

         <div class="my-contenido-flex my-contenido-flex-n">
<div class="content-news">

	<img v-bind:src="article.ImageUrl" class="img-fluid" style="width: 100%;">   
         <div class="box-noticia">
            <h3 v-text="article.Title"></h3>
            <div class="like-noticia" >
               
            </div>
         </div>
         <p class="txt_noticia"  v-html="article.Text"></p>

</div>

</div>

</div>





  </div>
</template>

<script type="text/javascript">
	
import HeaderLight from '@/components/general/HeaderLight.vue';
import Profile from '@/components/general/Profile.vue';

import {mapState} from 'vuex';

export default {
  name: 'NewsItem',
  components: {
    HeaderLight,
    Profile
  },
  data(){
    return {
      back: this.$route.params.back,
      ArticleId: this.$route.params.id,
      article: {Title: ''},
      image: '',
    }
  },
  computed: {
    ...mapState(['articles'])
  },
  mounted: function(){
      
      for(let element of this.articles){
        if(element.ArticleId == this.ArticleId){
          this.article = element;
          break;
        }
      }
  },
  methods:{
     getDate(date){
        var date = new Date(date);
        var options = { weekday: "long", year: "numeric", month: "short", day: "numeric" };
        let current = date.toLocaleDateString('es-ES', options);
        current = current.replace(/(^|\s)\S/g, l => l.toLowerCase());
        return current.charAt(0).toUpperCase() + current.slice(1);
      },
      getImagen(item){
      this.$store.dispatch('getImage', item.ImageUrl).then( data => {
            this.image = data.data.Base64;
        })
        .catch(error => {
          console.error(error)
        });
    }
  }
}

</script>
