<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>
      <div class="container-fluid px-0 box-dashboard-g" style="height: max-content !important;">
         <Profile></Profile>
         <div class="my-contenido-flex">
            <div class="p-3 "
               v-for="(item) of articles" 
               :key="item.id" >
               <NewItem :item="item" :back="back"></NewItem>
            </div>
         </div>
      </div>
      <MenuFixed :back="backFromMenu"></MenuFixed>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import NewItem from '@/components/dashboard/NewsItem.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import Profile from '@/components/general/Profile.vue';
   
   import {mapState} from 'vuex';
   
   export default {
     name: 'News',
     components: {
       Header,
       NewItem,
       MenuFixed,
       Profile
     },
     data(){
       return {
         back: this.$store.state.currentPage,
         backFromMenu: 'dashboard',
       }
     },
     computed: {
       ...mapState(['articles', 'notifications']),
     }
   }
</script>