<template>
  <div class="about">

	<HeaderLight :back="back" class="header-dashboard-file"></HeaderLight>

    <div class="my-contenido-flex my-contenido-flex-w pt-0 mt-0 mb-0 w-100 px-0 mx-0" style="margin-top: 0px !important;">

    <h3 class="noti-titulo my-4 mt-4" style="margin-top:70px;">Notificaciones</h3>


            <div class="notification-box" 
            v-for="(item) of notifications" 
            :key="item.NotificationId" >
               <i class="icon-bell icons"></i>
               <div class="txt-notification">
                  <p><b v-text="item.Message"></b></p>
                  <p class="small" v-text="getFormatedDate(item.CreatedOn)"></p>
               </div>
               
            </div>


    </div>  

    
  </div>
</template>

<script type="text/javascript">
	
import HeaderLight from '@/components/general/HeaderLight.vue';
 
import {mapState} from 'vuex';

export default {
   name: 'Notifications',
   components: {
      HeaderLight
   },
   data(){
      return {
         back: this.$route.params.back
      }
   },
   computed: {
      ...mapState(['notifications']),
   },
   methods:{
      
      getFormatedDate(date){
         var date = new Date(date);
         return date.getFullYear()+ "/" 
                  + (date.getMonth()+1) + "/" 
                  + date.getDate() + " " 
                  + date.getHours() + ":" 
                  + date.getMinutes();
      }
   }
}

</script>
