<template>
   <div class="header-100w">
      <Header :notifications="notifications" :back="backFromMenu"></Header>

      <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

      <CompanyHeader :companies="companies" :CompanyId="filter.companyId" :GroupId="filter.groupId"></CompanyHeader>
      <div class="titulo-divi">
         <img src="@/assets/img/4.png" style="width:27px;">
         <h2>Sedes</h2>
      </div>
      <div class="btns_mapas">
         <router-link :to="{name:'dashboard-venues-maps'}" class="btn btn-lista">
            Mapa
         </router-link>
         <router-link :to="{name:'dashboard-venues-list'}" class="btn btn-lista mapa-active">
            Lista
         </router-link>
      </div>
      <div class="card-wrapper p-3">
         <div class="card mb-3 border shadow-none"
            v-for="(branch, index) in branches"
            :key="index"
            >
            <div class="px-3 py-3 box-m-l">
               <div class="row align-items-center sede-list">
                  <div class="col-auto">
                     <i class="icon-flag icons"></i>
                  </div>
                  <div class="col ml-n2 ">
                     <h6 class="text-sm mb-0">
                        <a v-text="branch.Name"></a>
                     </h6>
                     <p class="card-text small text-muted" v-text="branch.Address">
                     </p>
                  </div>
                  <div class="col-auto actions">
                                         
                     <div class="iconoptions-box" data-toggle="modal" data-target="#modal-mapas">
                       <img src="@/assets/img/points.png" class="img-fluid point-wi">
                     </div>
                     <div class="modal fade" id="modal-mapas" tabindex="-1" role="dialog" aria-labelledby="modal-mapas" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-body p-4 box-content-modal">
                                 <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                                 </button>

                                <div class="p-4 box-mapas">

                                 <a v-bind:href="'http://maps.google.com/?q='+branch.Address" target="_blank" >
                                  <img src="@/assets/img/google.png" class="img-fluid">
                                 Maps
                                 </a>

                                 <a v-bind:href="'https://waze.com/ul?q='+branch.Address" target="_blank" >
                                 <img src="@/assets/img/waze.png" class="img-fluid">
                                 Waze
                                 </a>

                               </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
      <br>
      <br>
      <MenuFixed :back="backFromMenu"></MenuFixed>
   </div>
</template>
<script>
   import Header from '@/components/general/Header.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import CompanyHeader from '@/components/company/CompanyHeader.vue';
   import Profile from '@/components/general/Profile.vue';
   
   import {mapState} from 'vuex';
   
   export default {
      name: 'Company',
      components: {
       Header,
       MenuFixed,
       CompanyHeader,
       Profile
      },
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            back: 'dashboard-venues-maps',
            backFromMenu: 'dashboard-venues-maps'
         }
      },
      computed: {
          ...mapState(['companies','notifications', 'categories', 'filter', 'branches']),
          branches: function () {
              let b = this.$store.getters.branchesByCompany(this.filter.companyId);
              if(b==undefined) return [];
              return b;
          }
      },
      methods: {
        
      }
   }
</script>