<template>
  <div class="header-100w">
	  <Header :notifications="notifications" :back="backFromMenu"></Header>

     <div class="container-fluid px-0 box-dashboard-g">

      <Profile></Profile>

      <div class="my-contenido-flex-w">

	  <CompanyHeader :companies="companies" :CompanyId="filter.companyId" :GroupId="filter.groupId"></CompanyHeader>

			<div class="titulo-divi">
        <img src="@/assets/img/4.png" style="width:27px;">
        <h2>Sedes</h2>
      </div>

      <div class="btns_mapas">
          <router-link :to="{name:'dashboard-venues-maps'}" class="btn btn-lista mapa-active">
            Mapa
        </router-link>
        <router-link :to="{name:'dashboard-venues-list'}" class="btn btn-lista">
          Lista
        </router-link>
      </div>

   <Map></Map>

  </div>

</div>

	  <MenuFixed :back="backFromMenu"></MenuFixed>

  </div>
</template>

<script>
   import Header from '@/components/general/Header.vue';
   import Map from '@/components/dashboard/Map.vue';
   import MenuFixed from '@/components/general/MenuFixed.vue';
   import CompanyHeader from '@/components/company/CompanyHeader.vue';
   import Profile from '@/components/general/Profile.vue';

   import {mapState} from 'vuex';
   
   export default {
      name: 'Company',
      components: {
       Header,
       MenuFixed,
       CompanyHeader,
       Map,
       Profile
      },
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            back: 'dashboard-venues-maps',
            backFromMenu: 'dashboard-company',
         }
      },
      computed: {
         ...mapState(['companies','notifications', 'categories', 'filter'])
      },
   }
</script>