body {
    font-family: 'Lato', sans-serif !important;
}

img.d-block.noticia-interna-img {
    width: 100%;
}

  .my-contenido-flex-home {
    margin-bottom: 70px;
}

.my-contenido-flex.my-contenido-flex-w.pt-0.mt-0.w-100.px-0.mx-0 {
    width: 100% !important;
}

.txt-galerry-d p {
    max-width: 100%;
    width: 100%;
}




.my-contenido-flex-w {
    width: 100%;
  
}

.sidenav-user-2{
  display: none;
}

.empresas-box {
    display: none;
}

.carousel-control-prev-icon {
    background-image: url(../img/select.png) !important;
    transform: rotate(90deg);
}

.carousel-control-next-icon {
    background-image: url(../img/select.png) !important;
    transform: rotate(-90deg);
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
}
.carousel-indicators .active {
    opacity: 1;
    background: #007bff;
    width: 10px;
    display: block;
    position: relative;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    width: 10px;
    border-radius: 100%;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #868686;
    background-clip: padding-box;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: .5;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
}

.carousel-indicators {
    position: relative;
    right: 0;
    bottom: -10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10px;
    list-style: none;
}


.titu-file a {
    font-size: 12px !important;
    line-height: 1 !important;
}

.col-auto.actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
} 

.mini-ico {
    font-size: 10px !important;
    font-weight: bold;
    margin-left: 5px;
}


.info-text-porcentage {
    display: flex;
    /* background: red; */
    flex-direction: column;
    
    width: 50%;

}
.box-icons-company {
    display: flex;
    align-items: center;
    /* background: red; */
    justify-content: center;
}
.center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.uno-as{
 width: 19px; height: 19px;
}

 .dos-as{
 width: 19px; height: 19px;
}

.tres-as{
 width: 19px; height: 19px; 
}


.cuatro-as{
 width: 19px; height: 19px; 
}


.document-size {
    position: absolute;
    top: 10px;
    right: 10px;
}

div#exampleModal {
    background: rgba(54, 54, 54, 0.4);
}

svg {
    overflow: hidden;
    vertical-align: middle;
    filter: grayscale(1);
    opacity: .6;
    margin-left: 16px;
}

.btns-profile {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    /* background: red; */
    margin-bottom: 10px;
    width: 100%;
}

.btns-profile a {
    transform: scale(.98);
}

.btns-profile {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
   
    /* background: red; */
    margin-bottom: 10px;
    width: 500px;
    max-width: 100%;
}

.btns-profile a {
    transform: scale(.98);
}


.btn-asistencia .btn-inner-text {
    background: #000a8b;
    color: #fafafa !important;
    border: solid white 1px;
}

.box-files-2 {
    width: 100%;
}

.point-wi {
    width: 30px !important;
    max-width: 30px !important;
}

.iconoptions-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.change-ico img {
    width: 80% !important;
}

.sede-list {
justify-content: space-between !important;
    flex-direction: row !important;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.box-profile-content {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    margin-bottom: 1rem;
    /* background: red; */
    width: 100%;
}

.empresa-my a img {
  /*filter: grayscale(1);opacity: .5;*/
    width: 160px;
    max-width: 100%;
}

.right-btn img {
    transform: rotateY(900deg) scale(.6);
}
.p-4.box-mapas {
    display: flex;
    /* background: red; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.box-mapas a img {
    width: 60px !important;
    display: block;
}

.box-mapas a {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-btn img {
    transform: scale(.6);
}

a#home-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp-aso-box i {
    margin-right: 10px;
}

p.emp-aso {
    margin-bottom: 0px;
    font-size: 14px;
}

.emp-aso-box {
    display: flex !important;
    flex-direction: row !important;
}

a#home-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.comment {
    padding: 1rem;
}

i {}

.titulo-comment i {
    background: #3cda8a;
    color: #fff;
    padding: .3rem .7rem;
    font-size: 18px;
    border-radius: 20px;
}

.titulo-comment {
  margin-bottom: 1rem;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.titulo-comment-box {
    margin-left: 10px;
    margin-right: 10px;
}

.like-comment {
    position: absolute;
    bottom: .5rem;
    display: flex;
    right: .5rem;
}

.like-comment span {
    background: #ffbd15;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 100%;
}

.titulo-comment-box h5 {
    margin-bottom: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.92; */
    letter-spacing: normal;
    color: #5a5a5a;
}

.titulo-comment-box p {
    margin-bottom: 0px  !important;
    font-family: Lato !important;
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    /* line-height: 2.3; */
    letter-spacing: normal !important;
    color: #a3a3a3 !important;
}

.card.comment p {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #575757;
}

.comments-box h2 {
  object-fit: contain;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 0px;
}

.event-modal-box p{
  line-height: 1.8;
  width: 186px;
  height: 21px;
  font-family: Lato;
  font-size: 11px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 0px;
  letter-spacing: normal;
  color: #495057;
}

.event-modal-box span {
  height: 21px;
  display: block;
  color: #fff;
  border-radius: 20px;
  padding-right: 15px;
    padding-left: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.8;
}

.event-modal-box i {
    color: #007bff;
    font-size: 10px;
    font-weight: 700;
}

.event-modal-box {
  height: 49px;
  border-radius: 5px;
  border: solid 1px #d9dee1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .4rem;
    padding: .5rem;
}

.bg-success {
    background-color: #d9dee1!important;
    color: black !important;
    opacity: .7 !important;
    text-decoration: none;
}

a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
    background-color: #d9dee1!important;
}

.bg-all {
  background-color: #f61e1e !important;
}

a.bg-all:focus, a.bg-all:hover, button.bg-all:focus, button.bg-all:hover {
    background-color: #f61e1e!important;
}


.bg-ct {
  background-color: #efc82b !important;
}

a.bg-ct:focus, a.bg-ct:hover, button.bg-ct:focus, button.bg-ct:hover {
    background-color: #efc82b!important;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.bg-pmt {
  background-color: #d68c35 !important;
}

a.bg-pmt:focus, a.bg-pmt:hover, button.bg-pmt:focus, button.bg-pmt:hover {
    background-color: #d68c35!important;
}

.bg-primary {
    background-color: #000a8b!important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #000a8b!important;
}


.bg-warning {
    background-color: #3cda8a!important;
}

a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background-color: #3cda8a!important;
}


.bg-danger {
    background-color: #4ab8d9!important;
}

a.bg-danger:focus, a.bg-danger:hover, button.bg-danger:focus, button.bg-danger:hover {
    background-color: #4ab8d9!important;
}

.ocultar-desktop {
display: block;
}


.ocultar-mobile {
display: none;
}
.left-btn img {
    width: 40px !important;
}
h5 {
    color: #000a8b;
    font-weight: 700;
   
}





/*LOADER*/

.loaderSpinner {
    background: rgba(255, 255, 255, 0.46);
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.loaderSpinner div p {
    color: #212121;
}

.loader {
    background: #000a8b;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 99999;
    align-items: center;
    justify-content: space-around;
}

.line-mitad-w {
    width: 100%;
    height: 9px;
    display: flex;
}

.line-mitad-w span {
    width: 100%;
    background: #cfcfcf;
    height: 1px;
}
.btns_acceso_directos a {
    width: 30%;
}


 #chevron-w {
      position: relative;
      text-align: center;
      padding: .0467rem;
      margin-bottom: 0px;
      height: 0px;
      width: 32px;
      top: 4px;
    }
    #chevron-w:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: #cfcfcf;
      transform: skew(0deg, 45deg);
    }
    #chevron-w:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 51%;
      background: #cfcfcf;
      transform: skew(0deg, -45deg);
    }






.line-mitad {
    width: 100%;
    height: 9px;
    display: flex;
}

.line-mitad span {
    width: 100%;
    background: #101ecd;
    height: 1px;
}



 #chevron {
      position: relative;
      text-align: center;
      padding: .0467rem;
      margin-bottom: 0px;
      height: 0px;
      width: 32px;
      top: 4px;
    }
    #chevron:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: #0a07d0;
      transform: skew(0deg, 45deg);
    }
    #chevron:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 51%;
      background: #0a07d0;
      transform: skew(0deg, -45deg);
    }

    .number p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
  
 .number span {
    background: #007aff;
    font-size: 14px;
    color: #fff;
    width: 54px;
    display: flex;
    height: 21px;
    border-radius: 32px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.number {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /*LOADER*/


  /*Términos*/
  .box-flex-ter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt_terminos h5 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.txt_terminos p {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #575757;
}

.enlace-ter {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.btn-primary {
    color: #fff !important;
    background-color: #003eb7 !important;
    border-color: #003190 !important;
}

/*Terminos*/

/*Login*/

.header {
    height: 180px;
    background: #000a8b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header span {
    background: #000a8b;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -7px;
    left: 30px;
    transform: rotate(45deg);
}

/* The container */
.container-check {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  color: #575757;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  transition: all ease .5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  border-radius: 100%;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #007aff;
  transition: all ease .9s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0.01rem 0.01rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.box-styles {
    width: 960px;
    max-width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /* background: red; */
    /* height: calc(100vh - 250px); */
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-top: 40px;
}



.box-styles h1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 0px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}



.box-styles p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    width: 300px;
    max-width: 100%;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
    margin-bottom: 20px;
}

.box-styles form {
    width: 92%;
    position: relative;
}

.box-styles form input {
    margin-bottom: 15px;
    font-family: Lato;
    font-size: 16px;
    height: 49px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #495057;
}

.box-styles form input::placeholder {
    font-family: Lato;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #495057;
}

.form-check-my {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 5px;
}

a.link-olvide {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}
a.link-regresar {
    font-family: Lato;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}


p.txt-olvide {
    margin-bottom: 0px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #99999a;
}

/*Login*/



/*DASHBOARD*/
.header-dashboard {
    background: #000a8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .69rem 1.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9;
    width: 100%;
    position: relative;
}

.header-dashboard i {
    
    color: #ffffff;
    font-size: 20px;
   
}

.header-dashboard span{
    background: #000a8b;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -7px;
    z-index: 2;
    left: 30px;
    transform: rotate(45deg);
}

.notofaciones p {
    margin-bottom: 0px;
    position: absolute;
    width: 16px;
    right: 10px;
    top: -4px;
    background: #ffc200;
    font-weight: 500;
    height: 16px;
    border-radius: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notofaciones {
    position: relative;
}

.carousel-my {
    margin-top: 10px;
}

.carousel-my .carousel-inner {
    box-shadow: 0px 0px 2px 1px #c7c7c7;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.28);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.28);
}

.carousel-my ol.carousel-indicators {
    /* background: red; */
    padding: 0px !important;
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
}

.carousel-my ol.carousel-indicators li {
    width: 9px;
    height: 9px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    border-radius: 100%;
    opacity: 1;
    margin-left: .4rem;
    margin-right: .4rem;
}

.carousel-my ol.carousel-indicators .active {
    background: #007aff;
    border: none;
    width: 11px;
    height: 11px;
}

.txt-galerry-d p {
    margin-bottom: 0px;
   
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #55585a;
     display: flex;
    flex-direction: column;
}

.txt-galerry-d {
  height: 185px;
    max-height: 100%;
    padding: 1rem;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    position: relative;
}

.txt-galerry-d p b {
    font-weight: bold;
    color: #000000;
    margin-right: 8px;
}

.mini-footer-gallery {
    /* background: red; */
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.mini-footer-gallery p {
    height: 23px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    width: inherit;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: right;
    color: #575757;
}

.like-gallery a{
    width: 110px !important;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #798289;
}

.like-gallery a {
    font-family: Lato;
    font-size: 11px;
    font-weight: 100;
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.09;
    letter-spacing: normal;
    text-align: center;
    color: #6c757d;
}

.like-gallery span {
    width: 1px;
    height: 29px;
    display: block;
    position: relative;
    background: #798289;
}

.like-gallery a i {
    font-size: 14px;
}

a.active-like {
    background: #0075ff;
    color: white;
    height: 29px;
    width: 55.5px;
}

.btns_acceso_directos {
    display: flex;
       justify-content: space-around;
    padding-top: .5rem;
    margin-bottom: 1rem
}

.btns_acceso_directos a {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: red; */
    justify-content: space-between;
    height: 80px;
}

.btns_acceso_directos a p {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    margin-bottom: 0px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.header-dashboard img {
    width: 38px;
    /* height: 38px; */
}

/*DASHBOARD*/


/*MENU FIXED*/
a.btn-home i {
    margin-top: 5px;
}
nav.menu-fixed-my {
    width: 100%;
    background: #000a8b;
    height: 50px;
    
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
}

nav.menu-fixed-my ul {
    padding: 0px;
    margin: 0px;
}

nav.menu-fixed-my ul {
    /* background: red; */
    outline: solid #fff 0px;
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav.menu-fixed-my ul div {
    /* background: blue; */
    width: 33%;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

a.btn-home {
    color: #6c757d;
    background: #ffffff;
    width: 140px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 36px;
    z-index: 1;
    border-radius: 0px 0px 22px 22px;
}

.home-box {
    background: #fff;
    align-items: flex-start !important;
}

.redo-left {
   width: 140px !important;
   height: 22px !important;
   -moz-border-radius: 0 50% / 0 100%;
   -webkit-border-radius: 0 50% / 0 100%;
   border-radius: 0 22px 0 0;
   background: #000a8b;
}


.redo-right {
   width: 140px !important;
   height: 22px !important;
   -moz-border-radius: 0 50% / 0 100%;
   -webkit-border-radius: 0 50% / 0 100%;
   border-radius: 22px 0 0 0;
   background: #000a8b;
}

.piso-fixed {
    background: #000a8b;
    position: absolute !important;
    z-index: 0;
    width: 100% !important;
    height: 30px !important;
    bottom: 0px;
}

.l-r-box a i {
    font-size: 22px;
}

.l-r-box {
    display: flex;
    align-items: center;
}

.l-r-box a {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
a.right-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

a.right-btn i.icon-cup.icons {
    font-size: 18px;
}

i.icon-cup.icons {}

a.right-btn p {
    margin-bottom: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
    margin-left: 7px;
}
/*MENU FIXED*/

.close span img {
    width: 17px;
}

.close span {
    height: 17px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

.carousel-item {
    background: white;
}

.box-content-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

button.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.box-content-modal h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.box-content-modal p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

select.form-control {
      -webkit-appearance: initial;
    height: 49px !important;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL9JREFUeNpiYBgRgBFM2m03AJL9QOwAxA+AuJHhkOcCnLrstgdA1SsA8QEgLgSqv8AINWg/EAugaUnEaqDd9gQgOR9N9AMQGzIBiXosBjGANUA0EjKIAaq/H+Sy/wSCAuJC3AYhhZnd9vVAOoCAgSDvJhBQswFfmJECQGHmiByb5BoINggSm4jAJcdAuEGIdEaegSgGYRpGvIEYBmE3jLCBWA3CbRhuA3EaBAJMOA2DaHCE5lUQuIDPoBEEAAIMACv1RuBarJXOAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 10px);
}
.form-control {
    height: 49px;
   
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 10px);
}

.duo-select {
    /* background: red; */
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.duo-select select#ano {
    width: 100%;
    margin-right: 5px;
}

.duo-select select#mes {
    width: 100%;
    margin-left: 5px;
}

/*PROFILE*/
.box-profile {
    background: #000a8b;
    
    position: relative;
}

.header-profile {
    padding-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.close-profile {
    width: 20px;
}

.rounded-circle {
    background: #000763;
    margin-right: 1rem;
    width: 62px;
    height: 62px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle i {
    font-size: 24px;
}

.sidenav-user {
    margin: 1rem 0px 0px;
    padding: 1rem 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-user div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;;
}

.names-txt h5 {
    object-fit: contain;
    font-family: Lato;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.names-txt span {
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #0067eb;
}

a.btn-inner-text {
    width: 114px;
    height: 41px;
    object-fit: contain;
    border-radius: 20.5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #6c757d;
}

a.btn-inner-text i {
    margin-right: 8px;
}

.actions-btns {
    margin-top: .2rem;
    margin-bottom: .6rem;
    width: 100%;
    font-size: 20px;
    flex-direction: row !important;
    justify-content: space-around !important;
}

a.empresa-my-a {
    width: 100%;
    position: relative;
    display: flex;
    padding: 1rem;
    text-decoration: none;
    height: 100px;
    align-items: center;
    justify-content:space-between ;
}




.empresa-my {
    width: 100%;
    display: block;
    position: relative;
    /* height: 100px; */
    border-bottom: solid .096rem #d7d7d7;
}
.collapse .card {
    background-color: #f2f3f3;
    border-radius: 0px !important;
    border-left: 0px;
    border-right: 0px;
    padding: 0px;
}


.collapsing .card {
    background-color: #f2f3f3;
    border-radius: 0px !important;
    border-left: 0px;
    border-right: 0px;
    padding: 0px;
}


.collapse .card ul li a {
    object-fit: contain;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    line-height: 1.53;
    letter-spacing: normal;
    color: #515151;
    /* background: red; */
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px #d7d7d7 solid;
}



.collapsing .card ul li a {
    object-fit: contain;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    line-height: 1.53;
    letter-spacing: normal;
    color: #515151;
    /* background: red; */
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px #d7d7d7 solid;
}

.collapse .card ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

.collapsing .card ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}


/*.empresa-my-a .close-empresa-my-open {
    width: 21px;
    height: 21px;
    background: #017aff;
    border-radius: 100%;
    transition: all ease .8s;
    display: block;
}*/


.close-empresa-my-open {
   color: #fff;
   background: #749bc5;
   width: 21px;
    height: 21px;
   font-size: 20px;
   font-family: Lato;
   font-weight: 100;
   text-decoration: none !important;
   border-radius: 100%;
   display: flex !important;
   align-items: center;
   line-height: 1;
   justify-content: center;
}

.empresa-my-a[aria-expanded="true"] .close-empresa-my-close {
    width: 21px;
    height: 21px;
    line-height: 1.2;
    font-weight: 100;
    background: #82ca38;
    color: white;
    border-radius: 100%;
    text-decoration: none !important;
    transition: all ease .8s;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

a.empresa-my-a[aria-expanded="false"] .close-empresa-my-close {
    display: none !important;
}

a.empresa-my-a[aria-expanded="true"] .close-empresa-my-open {
    display: none !important;
}

a.empresa-my-a .close-empresa-my-open {
    display: flex !important;
}

.empresa-my .collapsed{
    width: 100%;
    display: flex;
    position: relative;
    text-decoration: none;
    height: 100px;
    /* border-bottom: solid 1px #d7d7d7; */
}

.nav-tabs-my {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.triangulo {
    background: white;
    width: 20px;
    height: 20px;
    bottom: -12px;
    display: none !important;
    position: absolute;
    transform: rotate(45deg);
     transition: all ease .8s;
}

.nav-tabs-my li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link.active .triangulo {
    display: flex !important;
    transition: all ease .8s;
}

/*PROFILE*/


/*NOTOFICACIONES*/
h3.noti-titulo {
    object-fit: contain;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.notification-box {
    border-bottom: solid .056rem #d7d7d7;
    border-top: solid .056rem #d7d7d7;
    display: flex;
    padding: 1.5rem .8rem;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

.txt-notification p {
    font-family: Lato;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    color: #000000;
}

p.small {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 0px;
    line-height: 1.08;
    letter-spacing: normal;
    color: #8d9bad;
}

.notification-box i {
       color: #acbecc;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.notification-box i {
    color: #acbecc;
    width: 40px;
}

.notification-box a {
    width: 83px;
    height: 29px;
    border-radius: 14.5px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #99a5b6;
    border: solid 1px #8d9bad;
}
.txt-notification {
    /* background: red; */
    width: 100%;
    padding: 0px .5rem;
}
/*NOTIFICACIONES*/

/*NOTICIA*/
.box-noticia {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #bdc5cd;
    padding: 1rem 2rem;
}

.box-noticia h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
}

.like-noticia {
    display: flex;
    /* background: red; */
    position: relative;
    max-width: 100%;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.like-noticia p {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #575757;
}

.like-noticia a {
    width: 49px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    border: solid 1px #798289;
    position: relative;
    align-items: center;
    color: #798289;
    justify-content: center;
}
p.txt_noticia {
    object-fit: contain;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    padding: 1rem 1.4rem;
}
/*NOTICIA*/


/*DETALLE EMPRESA*/
.titulo-detalle-company h3 {
      margin-right: 14px;
    object-fit: contain;
    font-family: Lato;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.titulo-detalle-company p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #575757;
    margin-bottom: 0px;
}

a.empresa-my-a.collapsed {}

.empresa-my-detalle a i {
    font-size: 12px !important;
    color: #017aff;
    font-weight: 900;
    background: #e0e0e0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.empresa-my-detalle {
    background: #f2f3f3;
    z-index: 1;
}
.empresa-my-detalle a {
    padding: .6rem 0px;
    height: auto !important;
    justify-content: space-around;
}

.enlaces-empresa-box .card ul li a {
    justify-content: flex-start;
}

.btns_ac_di a i {
    font-size: 3rem;
    color: #939393;
}
/*DETALLE EMPRESA*/


/*FILE*/

p.age-a {
    border: solid 2px #bababa;
    padding: .3rem .9rem;
    color: #909090;
    font-size: 14px;
    margin-bottom: 0px;
    border-radius: 30px;
}

a.regresar-btn {
    color: #5b5b5b !important;
    text-decoration: underline !important;
    font-size: 14px;
}

.titulo-file-company {
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #d8dbe2;
}

.titulo-file-company i {
    font-size: 4rem;
    color: #939393;
}

.txt-file h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #000000;
}

.txt-file p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #999999;
    margin-bottom: 0px;
}

.txt-file {
    margin-left: 30px;
}

ul.age {
    margin: 0px;
 
    padding: 0px;
}

ul.age li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}
ul.month {
    margin: 0px;
    padding: 0px;
    margin-bottom: 80px;
}

ul.month li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}


.box-month {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97px;
    /* background: red; */
}

ul.month-detail {
    margin: 0px;
    padding: 0px;
}

ul.month-detail li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}


.box-month-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97px;
    /* background: red; */
}

.box-age {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
}


.box-age p {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.box-age i {
    color: #017aff;
    font-size: 18px;
}



.box-month p {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.box-month i {
    color: #017aff;
    font-size: 18px;
    margin-right: 14px;
}

a.ver-file {
    width: 46px;
    height: 29px;
    border-radius: 14.5px;
    background-color: #3cda8a;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


a.ver-file-month {
    width: 46px;
    height: 29px;
    border-radius: 14.5px;
    background-color: #ffbd15;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ml-n2 h6 a {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #3c4858;
}

p.card-text.small.text-muted {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #8997ab !important;
}
.col-auto.actions .dropdown a {
    color: #475261;
    text-decoration: none;
}

.cabezote-file {
    background: #f2f3f3;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin:auto;
}

.titulo-company h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 0px;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

.titulo-company h4 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}

.titulo-company {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p.date-file {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    margin-bottom: 0px;
    text-align: center;
    color: #b5b5b5;
}

a.descargar-file {
    width: 98px;
    height: 27px;
    object-fit: contain !important;
    border-radius: 13.5px;
    background-color: #1886fe;
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #ffffff;
}

.actions_file {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a.descargar-file i {
    font-size: 14px;
    margin-right: 6px;
}

a.comentar-file {
    width: 98px;
    height: 27px;
    object-fit: contain !important;
    border-radius: 13.5px;
    background-color: #3cda8a;
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #ffffff;
}

a.comentar-file i {
        font-size: 14px;
    margin-right: 6px; 

}

h2.name-file {
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    margin-top: 15px;
    letter-spacing: normal;
    text-align: center;
    color: #3c4858;
}
/*FILE*/


/*DIVIDENDO*/
.titulo-divi h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 0px;
    letter-spacing: normal;
    color: #000000;
    margin-left: 15px;
}

.titulo-divi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    padding-bottom: 10px;
}

.titulo-divi img {
    width: 45px;
}

.card.mb-3.border.shadow-none.p-3.m-3 p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

.c-c-f {
  width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    background-color: #3cda8a;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

.s-s {
    width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    background-color: #ffbd15;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

.d-r {
    width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    border: solid 1px #d9dee1;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999899;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.c-c-f {
    width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    background-color: #3cda8a;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

button.s-s {
    width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    background-color: #ffbd15;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

button.d-r {
  width: 100%;
    border: none;
    height: 49px;
    border-radius: 5px;
    border: solid 1px #d9dee1;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999899;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-leg {
    margin: 1rem;
}

p.mini-legal {
    font-family: Lato;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 80px;
    color: #99999a;
}
/*DIVIDENDO*/


/*MAPAS*/

a.btn.mapa-active {
   
    background-color: #3cda8a;

    color: #ffffff;
}

.btn-lista {
    width: 43%;
    height: 49px;
    border-radius: 5px;
    border: solid 1px #d9dee1;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999899;
}

.btns_mapas {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem .7rem;
}

.col-auto i.icon-flag.icons {
    color: #b5b5b5;
    font-size: 24px;
    top: 4px;
    position: relative;
}

.box-m-l {
    height: 85px;
    display: flex;
}
/*MAPAS*/


.noticia-item {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    /*margin-bottom: 1.6rem;*/
}

footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: red; */
    height: 70px;
    bottom: 0px;
}

footer p {font-family: Lato;font-size: 11px;margin-bottom: 0px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: normal;text-align: center;color: #99999a;}

/*AGENDA*/


.info-a-m.p-3 p {
    color: #8492a6!important;
    font-size: .875rem!important;
    margin-bottom: 0px;
}

.info-a-m.p-3 h3 {
    font-size: 1.25rem;
    margin-bottom: 0px;
    color: #3c4858;
    font-weight: 600;
}

.info-a-m.p-3 {}

.days {
    display: flex;
}

.days h3 {
    width: 14.28%;
    height: 35px;
   
       font-size: .75rem;
    font-weight: 600;
    color: #8492a6;
    text-transform: uppercase;
    
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.day {
    flex-direction: column;
    width: 14.28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evento {
    /* background: red; */
    height: 22px;
    display: flex;
    position: relative;
    width: inherit;
    
}

.evento a p {
    margin-bottom: 0px !important;
}

.evento a {
font-size: 12px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evento-3-2 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 3);
}


.evento-1-1{
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 0);
}

.evento-1-2 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 1);
}

.evento-1-3 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 2);
}

.evento-1-4 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 3);
}

.evento-1-5 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 4);
}

.evento-1-6 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 5);
}

.evento-1-7 {
    width: calc(14.28% * 1);
    margin-left: calc(14.28% * 6);
}




.evento-2-1{
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 0);
}

.evento-2-2 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 1);
}

.evento-2-3 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 2);
}

.evento-2-4 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 3);
}

.evento-2-5 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 4);
}

.evento-2-6 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 5);
}

.evento-2-7 {
    width: calc(14.28% * 2);
    margin-left: calc(14.28% * 6);
}




.evento-3-1{
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 0);
}

.evento-3-2 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 1);
}

.evento-3-3 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 2);
}

.evento-3-4 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 3);
}

.evento-3-5 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 4);
}

.evento-3-6 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 5);
}

.evento-3-7 {
    width: calc(14.28% * 3);
    margin-left: calc(14.28% * 6);
}


.evento-4-1{
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 0);
}

.evento-4-2 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 1);
}

.evento-4-3 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 2);
}

.evento-4-4 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 3);
}

.evento-4-5 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 4);
}

.evento-4-6 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 5);
}

.evento-4-7 {
    width: calc(14.28% * 4);
    margin-left: calc(14.28% * 6);
}



.evento-5-1{
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 0);
}

.evento-5-2 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 1);
}

.evento-5-3 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 2);
}

.evento-5-4 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 3);
}

.evento-5-5 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 4);
}

.evento-5-6 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 5);
}

.evento-5-7 {
    width: calc(14.28% * 5);
    margin-left: calc(14.28% * 6);
}



.evento-6-1{
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 0);
}

.evento-6-2 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 1);
}

.evento-6-3 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 2);
}

.evento-6-4 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 3);
}

.evento-6-5 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 4);
}

.evento-6-6 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 5);
}

.evento-6-7 {
    width: calc(14.28% * 6);
    margin-left: calc(14.28% * 6);
}


.evento-7-1{
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 0);
}

.evento-7-2 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 1);
}

.evento-7-3 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 2);
}

.evento-7-4 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 3);
}

.evento-7-5 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 4);
}

.evento-7-6 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 5);
}

.evento-7-7 {
    width: calc(14.28% * 7);
    margin-left: calc(14.28% * 6);
}

.evento {
    /* background: red; */
    height: 22px;
    display:inline-block;
    position: absolute;
    
}

.eventos {
    /* background: blue; */
    height: 22px;
}

.selescts-agenda {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.selescts-agenda select {
    width: 49%;
}

.eventos {
    /* background: blue; */
    height: 22px;
}

.day p {
      font-weight: 400;
    line-height: 1.7;
    color: #8492a6;
    margin-bottom: 0px;
}

.semana {
    display: flex;
    align-items: center;
    justify-content: center;
}





.badge-dot i {
    display: inline-block;
    vertical-align: middle;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
    margin-right: .375rem;
}

.badge-dot.badge-lg i {
    width: .625rem;
    height: .625rem;
}

.progress-circle .h1, .progress-circle .h2, .progress-circle .h3, .progress-circle [class^=display] {
    color: #3c4858!important;
}


.progress-circle {
    width: 50%;
    margin-top: 30px;
}


.badge-dot {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: #8492a6;
    font-size: .875rem;
}

.box-btn-asistencia {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    max-width: 100%;
    margin:auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.asis-btn {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 9px;
}

.asis-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #d1d1d1;
    border-top: 0px;
    padding: .4rem;
}

.mes-btn {
    width: 45px;
    height: 31px;
    border: solid 1px #dbdbdb;
    border-top: 1px solid #dbdbdb !important;
    background-color: #e9ebee;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.6;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

.c-a-p {
  object-fit: contain;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8d9bad;
  margin-bottom: 0px;
  margin-top: 20px;
}

.box-calendar-general {
    display: flex;
    height: 124px;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ececec;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
}

.month-box-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.box-calendar-day p {
    object-fit: contain;
    font-family: Lato;
    font-size: 40px;
    width: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}

.month-box-calendar h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.month-box-calendar h5 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0px;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #8d9bad;
}



.box-calendar-general span {
    width: 2px;
    height: 68px;
    object-fit: contain;
    border: solid 1px #dcdcdc;
}

.titulo-box-calendar a {
    width: 83px;
    margin-bottom: 0px;
    height: 29px;
    object-fit: contain;
    border-radius: 14.5px;
    object-fit: contain;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #3cda8a;
}

.box-calendar-general {
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* background: red; */
    /* width: 90%; */
}

.box-calendar-day {
    /* width: 50%; */
    display: flex;
    position: relative;
    /* background: blue; */
}

.titulo-box-calendar {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* background: gray; */
    align-items: flex-start;
    position: relative;
    justify-content: center;
}

.titulo-box-calendar h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #575757;
}

.titulo-box-calendar p {
   object-fit: contain;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin-bottom:0px;
  letter-spacing: normal;
  color: #8d9bad;
}




/*AGENDA*/

a.avatar.rounded-circle.avatar-xl i {
    color: #6870d9;
}

.close-empresa-my-open img {
    opacity: 1 !important;
    width: 75%;
}

@media only screen 
  and (width: 2304px) 
  and (height: 1440px)  {}


/*tablet ipad pro portrait*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {

    .my-contenido-flex {
  
    width: 96% !important;
  }

    .btns_acceso_directos a {
    transform: scale(1.3);
}
    .btns_acceso_directos.my-5.p-2 a img {
    width: 80px !important;
}
    .names-txt span {
    margin-bottom: 6px;
}
    .box-profile{
        display: block !important;
    }
    .my-contenido-flex{
        justify-content: space-evenly !important;
    }

    .btns_acceso_directos {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
    }
/*.btns_acceso_directos a img {
    width: 109px !important;
}*/


.box-dashboard-g {
    height: calc(100vh - 200px) !important;
}

.btns_acceso_directos a p {
    font-size: 15px !important ;
}


    .empresas-box{
        display: none !important;
    }
    .ocultar-desktop {
display: block !important;
}

nav.menu-fixed-my {
    display: block !important;
}
.ocultar-mobile {
display: none !important;
}
.sidenav-user-2, a.ocultar-mobile.btn-home-d{
    display: none !important;
}

}


/*tablet ipad pro portrait*/


/*tablet ipad pro landscape*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape)  {

.my-contenido-flex {
    justify-content: space-around !important;
}

.box-dashboard-g {
    height: calc(100vh - 80px) !important;
}



div#myTabContent, div#home, .empresas-box {
    height: 100% !important;
}



/*.btns_acceso_directos a img {
    width: 100px;
}*/
.btns_acceso_directos a p {
    font-size: 15px !important;
    font-weight: bold !important;
}

}

/*tablet ipad pro landscape*/


/*tablet ipad  landscape*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (orientation: landscape) {



    .btns_acceso_directos a p {
        transform: scale(.8);
        
    }
    .my-contenido-flex.my-contenido-flex-n {
    width: 757px !important;
}

    .my-contenido-flex {
     width: 820px !important;
}


.my-contenido-flex-w {
    width: 820px !important;
}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {

    .btns_acceso_directos a p {
        transform: scale(.8);

    }

    .my-contenido-flex.my-contenido-flex-n {
    width: 757px !important;
}

    .my-contenido-flex {
     width: 820px !important;
}


.my-contenido-flex-w {
    width: 820px !important;
}

}
/*tablet ipad  landscape*/


/*tablet ipad portrait*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (orientation: portrait)  {

    
    .btns_acceso_directos.my-5.p-2 a img {
    width: 80px !important;
}
     .names-txt span {
    margin-bottom: 6px;
}
    .box-profile{
        display: block !important;
    }
    .my-contenido-flex{
        justify-content: flex-start !important;
    }

    .btns_acceso_directos {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
    }
/*.btns_acceso_directos a img {
    width: 109px !important;
}*/


.box-dashboard-g {
    height: calc(100vh - 200px) !important;
}
.btns_acceso_directos a p {
    font-size: 15px !important ;
}

 
    .empresas-box{
        display: none !important;
    }
    .ocultar-desktop {
display: block !important;
}

nav.menu-fixed-my {
    display: block !important;
}
.ocultar-mobile {
display: none !important;
}
.sidenav-user-2, a.ocultar-mobile.btn-home-d{
    display: none !important;
}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)  {



    .btns_acceso_directos.my-5.p-2 a img {
    width: 80px !important;
}
     .names-txt span {
    margin-bottom: 6px;
}
    .box-profile{
        display: block !important;
    }
    .my-contenido-flex{
        justify-content: flex-start !important;
    }

    .btns_acceso_directos {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
    }
/*.btns_acceso_directos a img {
    width: 109px !important;
}*/


.box-dashboard-g {
    height: calc(100vh - 200px) !important;
}
.btns_acceso_directos a p {
    font-size: 15px !important;
}

  

    .empresas-box{
        display: none !important;
    }
    .ocultar-desktop {
display: block !important;
}

nav.menu-fixed-my {
    display: block !important;
}
.ocultar-mobile {
display: none !important;
}
.sidenav-user-2, a.ocultar-mobile.btn-home-d{
    display: none !important;
}

}
/*tablet ipad portrait*/


@media only screen and (min-width: 768px) {
  .box-styles p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    width: 300px;
    max-width: 100%;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 0px;
    color: #575757;
}
  .box-styles {
    width: 960px;
    max-width: 85%;
    display: flex;
    position: relative;
    /* background: red; */
    height: calc(100vh - 250px);
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

  .my-contenido-flex.my-contenido-flex-n {
    /* background: red; */
    height: fit-content;
}
 .box-izq-header {
    width: 150px;
    /* background: red; */
}

.ocultar-mobile.box-izq-header a.ocultar-mobile {
    width: 50px;
    float: left;
}
  .dasboard-home {
    height: 100%;
}


  .noticia-interna-img {
    width: 100% !important;
}
  .my-contenido-flex {
    margin-top: 80px !important;
}

.my-contenido-flex-w {
    width: 100%;
    margin-top: 60px;
}


.header-dashboard {
    background: #000a8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .69rem 1.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9;
    width: 100%;
    position: fixed;
}
  .header-100w {
    height: 100%;
}

.desktop {
    height: 100%;
}

div#app {
    height: 100%;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

.my-contenido-flex .my-contenido-flex-w {
    width: 100% !important;
    padding: 0px !important;
    padding-top: 0px !important;
    margin: 0px;
}
    .n-d-t {
    color: #000a8b;
    font-weight: 700;
    text-align: start !important;


}

.boc-txt-noticias {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-home-d {
    width: 60px;
    height: 60px;
    border-right: solid 2px #0410ad;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}
  .empresa-my-g .collapse .card ul li a {
    text-align: left !important;
}

  button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .8em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: white;
}
  .left-btn img {
    width: 40px !important;
}
.dropdown.dropdown-user button {
    background: no-repeat;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
       width: 190px;
    margin-right: 0px !important;
    padding-right: 22px;
    border-right: solid 2px #0410ad;
}
.names-txt span {
    transform: none !important;
    position: relative !important;
    width: inherit !important;
    line-height: .5 !important;
    background: none !important;
}

.box-profile {
    background: #000a8b;
    padding: 0rem !important;
    position: relative;
    display: flex;
    align-items: center;
}

  .header-dashboard a img {
    width: 40px;
}

  .header-dashboard {
    height: 60px;
}

.ocultar-mobile {
    display: block;
}

.back-full {
  display: block ;
  float: left;
  width: 50px;
  
}

.box-izq-header {
    align-items: center;
    justify-content: center;
}


.ocultar-desktop {
    display: none;
}
.dash-header .back-full {
    display: none;
}
.close-empresa-my-open{
  width: 21px !important;
  height: 21px !important;
}

.empresa-my-g a {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 0px 2rem;
}
  .empresa-my a img {
    width: 120px;
    max-width: 100%;
}

nav.menu-fixed-my{
  display: none ;
}

.dropdown-menu.dropdown-menu-my.show {
    display: flex;
}
.dropdown-menu.dropdown-menu-my {
    background: #050b55;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 4px 5px 0px #c8c8c8;
    height: auto;
    padding: 10px 1rem 8px 1rem;
    flex-direction: column;
    width: 259px;
    margin-top: -1px;
}

.dropdown-menu.dropdown-menu-my a {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 0px;
}
  .sidenav-user-2 {
    position: relative;
    top: 0px;
   display: flex;
}

h5.mb-0.text-white {
    font-size: 15px;
}

.box-profile-content {
    width: 265px;
  
}

.sidenav-user-2 a.avatar.rounded-circle.avatar-xl {
    width: 40px;
    height: 40px;
}

i.icon-user.icons {
    font-size: 20px !important;
    margin-top: 0px;
}

.box-profile-content {
    margin-bottom: 0px;
}

span.d-block.text-sm.opacity-8 {
    text-align: left;
}

.empresas-box {
    position: relative;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    /* height: 100%; */
    /* background: red; */
    display: block;
    width: 265px;
    max-width: 100%;
    /* border-bottom: solid 2px #d7d7d7; */
}



.tab-content-c {
    position: absolute;
    top: 0px;
    width: 100%;
    /* z-index: 999; */
}

.box-empresas {
   height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    width: 265px;
    padding-bottom: 180px;
    max-width: 100%;
}


.box-empresas::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.box-empresas::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.box-empresas::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.box-empresas::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}





.empresas-box::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.empresas-box::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.empresas-box::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.empresas-box::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.box-empresas {
   
    border-right: solid 2px #d7d7d7;
}

.box-dashboard-g {
    display: flex;
    height: 100% !important;
}


  .info-text-porcentage {
    width: 140px !important;

}

  .noticia-item img {
    width: 520px;
}

  .txt-galerry-d p {
    margin-bottom: 0px;
    width: 80%;
    height: auto;
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #55585a;
    display: flex;
    flex-direction: column;
}

    .box-calendar {
    width: 100%;
    max-width: 100%;
    margin: auto;
} 
    ul.age {
        border-top: 2px solid #d8dbe3;
    }

    .titulo-file-company {
        border-bottom: none !important;
    }

    .card-wrapper.p-3 {
        width: 636px;
        max-width: 100%;
        margin:auto;
    }

     ul.month {
    margin: 0px;
    margin-bottom: 80px;
    padding: 0px;
   
    margin: auto !important;
    /*border-left: solid 2px #d8dbe3;
    border-right: solid 2px #d8dbe3;*/
}

    .card.mb-3.border.shadow-none.p-3.m-3.mt-0.mb-4 {
    /* width: 700px; */
    display: block;
    top: 10px !important;
    position: relative;
}

form.dividens-box {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

    .titulo-divi {

    padding: .5rem !important;
    padding-bottom: .5rem !important;
}

.btns_mapas {
    padding: .5rem .7rem !important;
    max-width: 100%;
    width: 600px;
    margin: auto;

}
  .enlaces-empresa-box .card ul li a {
  
    justify-content: center !important;
}

a.empresa-my-a {
    justify-content: center ;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    filter: grayscale(1);
    opacity: .6;
    margin-left: 0px;
}

  .content-news {
    width: 100%;
    margin: auto;
    max-width: 100%;
}

.actions-btns {
    width: 720px !important;
}

.collapse .card ul li a {
    justify-content: center;
    text-align: center !important;
   
}



  .notification-box {
    border: solid .056rem #d7d7d7;
    border-top: solid .056rem #d7d7d7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem .8rem;
    /* flex-wrap: wrap; */
    -webkit-box-align: center;
    width: 700px;
    margin: auto;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.my-contenido-flex {
    padding-left: 15px;
    padding-right: 15px;
    width: 820px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: space-between;
}

.mini-footer-gallery {
    flex-direction: column;
}

.p-4.box-flex-ter {
    width: 860px;
    max-width: 100%;
    margin: auto;
}

.box-styles form {
    width: 400px !important;
}

.noticia-item {
    display: flex !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    /* margin-bottom: 1.6rem; */
}
.noticia-item a {
    width: 100%;
}
.txt-galerry-d {
  width: 70%;
  height: auto !important;
    max-height: 100%;
    padding: 1rem;
    display: flex !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

.redo-left {
    display: none !important;
}

.redo-right {
    display: none !important;
}

.piso-fixed {
    display: none !important;
}

.home-box {
    background: #000a8b  !important;
}

a.btn-home {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%  !important;
    box-shadow: 0px 0px 9px 1px rgba(0, 6, 77, 0.42);
    top: -15px;
    display: flex !important;
    position: absolute;
    align-items: center !important;
    justify-content: center !important;
}

a.btn-home i {
    font-size: 20px !important;
    margin-top: 0px  !important;
}
}
