body {
    font-family: 'Lato', sans-serif !important;
}

.bg-success {
    background-color: #d9dee1!important;
    color: black;
    opacity: .7;
    text-decoration: none;
}

/*LOADER*/

.loader {
    background: #000a8b;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-evenly;
}

.line-mitad-w {
    width: 100%;
    height: 9px;
    display: flex;
}

.line-mitad-w span {
    width: 100%;
    background: #cfcfcf;
    height: 1px;
}
.btns_acceso_directos a {
    width: 30%;
}


 #chevron-w {
      position: relative;
      text-align: center;
      padding: .0467rem;
      margin-bottom: 0px;
      height: 0px;
      width: 32px;
      top: 4px;
    }
    #chevron-w:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: #cfcfcf;
      transform: skew(0deg, 45deg);
    }
    #chevron-w:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 51%;
      background: #cfcfcf;
      transform: skew(0deg, -45deg);
    }






.line-mitad {
    width: 100%;
    height: 9px;
    display: flex;
}

.line-mitad span {
    width: 100%;
    background: #101ecd;
    height: 1px;
}



 #chevron {
      position: relative;
      text-align: center;
      padding: .0467rem;
      margin-bottom: 0px;
      height: 0px;
      width: 32px;
      top: 4px;
    }
    #chevron:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: #0a07d0;
      transform: skew(0deg, 45deg);
    }
    #chevron:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 51%;
      background: #0a07d0;
      transform: skew(0deg, -45deg);
    }

    .number p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
  
 .number span {
    background: #007aff;
    font-size: 14px;
    color: #fff;
    width: 54px;
    display: flex;
    height: 21px;
    border-radius: 32px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.number {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /*LOADER*/


  /*Términos*/
  .box-flex-ter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt_terminos h5 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.txt_terminos p {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #575757;
}

.enlace-ter {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.btn-primary {
    color: #fff !important;
    background-color: #003eb7 !important;
    border-color: #003190 !important;
}

/*Terminos*/

/*Login*/

.header {
    height: 180px;
    background: #000a8b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header span {
    background: #000a8b;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -7px;
    left: 30px;
    transform: rotate(45deg);
}

/* The container */
.container-check {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  color: #575757;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  transition: all ease .5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  border-radius: 100%;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #007aff;
  transition: all ease .9s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0.01rem 0.01rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.box-styles {
    width: 960px;
    max-width: 85%;
    display: flex;
    position: relative;
    /* background: red; */
    height: calc(100vh - 250px);
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-styles h1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 0px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.box-styles p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    width: 300px;
    max-width: 100%;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 0px;
    color: #575757;
}

.box-styles form {
    width: 92%;
    position: relative;
}

.box-styles form input {
    margin-bottom: 15px;
    font-family: Lato;
    font-size: 16px;
    height: 49px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #495057;
}

.box-styles form input::placeholder {
    font-family: Lato;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #495057;
}

.form-check-my {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 5px;
}

a.link-olvide {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}
a.link-regresar {
    font-family: Lato;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}


p.txt-olvide {
    margin-bottom: 0px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #99999a;
}

/*Login*/



/*DASHBOARD*/
.header-dashboard {
    background: #000a8b;
    display: flex;
    padding: .69rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-dashboard i {
    color: #007aff;
}


.header-dashboard span{
    background: #000a8b;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -7px;
    z-index: 2;
    left: 30px;
    transform: rotate(45deg);
}

.notofaciones p {
    margin-bottom: 0px;
    position: absolute;
    width: 16px;
    right: 10px;
    top: -4px;
    background: #ffc200;
    font-weight: 500;
    height: 16px;
    border-radius: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notofaciones {
    position: relative;
}

.carousel-my {
    margin-top: 10px;
}

.carousel-my .carousel-inner {
    box-shadow: 0px 0px 2px 1px #c7c7c7;
}

.carousel-my ol.carousel-indicators {
    /* background: red; */
    padding: 0px !important;
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
}

.carousel-my ol.carousel-indicators li {
    width: 9px;
    height: 9px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    border-radius: 100%;
    opacity: 1;
    margin-left: .4rem;
    margin-right: .4rem;
}

.carousel-my ol.carousel-indicators .active {
    background: #007aff;
    border: none;
    width: 11px;
    height: 11px;
}

.txt-galerry-d p {
    margin-bottom: 0px;
    width: 290px;
    height: 69px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #55585a;
}

.txt-galerry-d {
    padding: 1rem;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    position: relative;
}

.txt-galerry-d p b {
    font-weight: bold;
    color: #000000;
}

.mini-footer-gallery {
    /* background: red; */
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.mini-footer-gallery p {
    height: 23px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    width: inherit;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: right;
    color: #575757;
}

.like-gallery {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #798289;
}

.like-gallery a {
    font-family: Lato;
    font-size: 11px;
    font-weight: 100;
    width: 54.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.09;
    letter-spacing: normal;
    text-align: center;
    color: #6c757d;
}

.like-gallery span {
    width: 1px;
    height: 29px;
    display: block;
    position: relative;
    background: #798289;
}

.like-gallery a i {
    font-size: 14px;
}

a.active-like {
    background: #0075ff;
    color: white;
    height: 29px;
    width: 55.5px;
}

.btns_acceso_directos {
    display: flex;
    justify-content: space-around;
    /* background: red; */
    margin-top: 1rem;
    padding-top: 1rem;
}

.btns_acceso_directos a {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: red; */
    justify-content: space-between;
    height: 80px;
}

.btns_acceso_directos a p {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    margin-bottom: 0px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.my-contenido-flex {
    margin-bottom: 50px;
}
.header-dashboard img {
    width: 38px;
    /* height: 38px; */
}

/*DASHBOARD*/


/*MENU FIXED*/
a.btn-home i {
    margin-top: 5px;
}
nav.menu-fixed-my {
    width: 100%;
    background: #000a8b;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
}

nav.menu-fixed-my ul {
    padding: 0px;
    margin: 0px;
}

nav.menu-fixed-my ul {
    /* background: red; */
    outline: solid #fff 14px;
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav.menu-fixed-my ul div {
    /* background: blue; */
    width: 33%;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

a.btn-home {
    color: #6c757d;
    background: #ffffff;
    width: 140px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 36px;
    z-index: 1;
    border-radius: 0px 0px 22px 22px;
}

.home-box {
    background: #fff;
    align-items: flex-start !important;
}

.redo-left {
   width: 140px !important;
   height: 22px !important;
   -moz-border-radius: 0 50% / 0 100%;
   -webkit-border-radius: 0 50% / 0 100%;
   border-radius: 0 22px 0 0;
   background: #000a8b;
}


.redo-right {
   width: 140px !important;
   height: 22px !important;
   -moz-border-radius: 0 50% / 0 100%;
   -webkit-border-radius: 0 50% / 0 100%;
   border-radius: 22px 0 0 0;
   background: #000a8b;
}

.piso-fixed {
    background: #000a8b;
    position: absolute !important;
    z-index: 0;
    width: 100% !important;
    height: 30px !important;
    bottom: 0px;
}

.l-r-box a i {
    font-size: 22px;
}

.l-r-box {
    display: flex;
    align-items: center;
}

.l-r-box a {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
a.right-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.right-btn i.icon-cup.icons {
    font-size: 14px;
}

i.icon-cup.icons {}

a.right-btn p {
    margin-bottom: 0px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: right;
    color: #007aff;
    margin-left: 7px;
}
/*MENU FIXED*/

.close span img {
    width: 17px;
}

.close span {
    height: 17px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

.carousel-item {
    background: white;
}

.box-content-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

button.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.box-content-modal h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.box-content-modal p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

select.form-control {
    height: 49px !important;
     background: url(../img/select.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 10px);
}
.form-control {
    height: 49px;
   
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 10px);
}

.duo-select {
    /* background: red; */
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.duo-select select#ano {
    width: 100%;
    margin-right: 5px;
}

.duo-select select#mes {
    width: 100%;
    margin-left: 5px;
}

/*PROFILE*/
.box-profile {
    background: #000a8b;
    padding: 1rem;
    position: relative;
}

.header-profile {
    padding-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.close-profile {
    width: 20px;
}

.rounded-circle {
    background: #000763;
    width: 92px;
    height: 92px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle i {
    font-size: 28px;
}

.sidenav-user {
    margin: 1rem 0px 0px;
    padding: 1rem 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-user div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.names-txt h5 {
    object-fit: contain;
    font-family: Lato;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.names-txt span {
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #0067eb;
}

a.btn-inner-text {
    width: 114px;
    height: 41px;
    object-fit: contain;
    border-radius: 20.5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #6c757d;
}

a.btn-inner-text i {
    margin-right: 8px;
}

.actions-btns {
    margin-top: 1.5rem;
    margin-bottom: .6rem;
    width: 100%;
    font-size: 20px;
    flex-direction: row !important;
    justify-content: space-around !important;
}

a.empresa-my-a {
    width: 100%;
    position: relative;
    display: flex;
    padding: 1rem;
    text-decoration: none;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}




.empresa-my {
    width: 100%;
    display: block;
    position: relative;
    /* height: 100px; */
    border-bottom: solid .096rem #d7d7d7;
}
.collapse .card {
    background-color: #f2f3f3;
    border-radius: 0px !important;
    border-left: 0px;
    border-right: 0px;
    padding: 0px;
}


.collapsing .card {
    background-color: #f2f3f3;
    border-radius: 0px !important;
    border-left: 0px;
    border-right: 0px;
    padding: 0px;
}


.collapse .card ul li a {
    object-fit: contain;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    line-height: 1.53;
    letter-spacing: normal;
    color: #515151;
    /* background: red; */
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px #d7d7d7 solid;
}



.collapsing .card ul li a {
    object-fit: contain;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    line-height: 1.53;
    letter-spacing: normal;
    color: #515151;
    /* background: red; */
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px #d7d7d7 solid;
}

.collapse .card ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

.collapsing .card ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}


/*.empresa-my-a .close-empresa-my-open {
    width: 21px;
    height: 21px;
    background: #017aff;
    border-radius: 100%;
    transition: all ease .8s;
    display: block;
}*/


.close-empresa-my-open {
   color: #fff;
   background: #017aff;
   width: 21px;
   height: 21px;
   font-size: 20px;
   font-family: Lato;
   font-weight: 100;
   text-decoration: none !important;
   border-radius: 100%;
   display: flex !important;
   align-items: baseline;
   line-height: 1;
   justify-content: center;
}

.empresa-my-a[aria-expanded="true"] .close-empresa-my-close {
    width: 21px;
    height: 21px;
    line-height: 1.2;
    font-weight: 100;
    background: #82ca38;
    color: white;
    border-radius: 100%;
    text-decoration: none !important;
    transition: all ease .8s;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

a.empresa-my-a[aria-expanded="false"] .close-empresa-my-close {
    display: none !important;
}

a.empresa-my-a[aria-expanded="true"] .close-empresa-my-open {
    display: none !important;
}

a.empresa-my-a .close-empresa-my-open {
    display: flex !important;
}

.empresa-my .collapsed{
    width: 100%;
    display: flex;
    position: relative;
    text-decoration: none;
    height: 100px;
    /* border-bottom: solid 1px #d7d7d7; */
}

.nav-tabs-my {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.triangulo {
    background: white;
    width: 20px;
    height: 20px;
    bottom: -12px;
    display: none !important;
    position: absolute;
    transform: rotate(45deg);
     transition: all ease .8s;
}

.nav-tabs-my li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link.active .triangulo {
    display: flex !important;
    transition: all ease .8s;
}

/*PROFILE*/


/*NOTOFICACIONES*/
h3.noti-titulo {
    object-fit: contain;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.notification-box {
    border-bottom: solid .056rem #d7d7d7;
    border-top: solid .056rem #d7d7d7;
    display: flex;
    padding: 1.5rem .8rem;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

.txt-notification p {
    font-family: Lato;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    color: #000000;
}

p.small {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 0px;
    line-height: 1.08;
    letter-spacing: normal;
    color: #8d9bad;
}

.notification-box i {
    color: #acbecc;
    width: 40px;
}

.notification-box i {
    color: #acbecc;
    width: 40px;
}

.notification-box a {
    width: 83px;
    height: 29px;
    border-radius: 14.5px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #99a5b6;
    border: solid 1px #8d9bad;
}
.txt-notification {
    /* background: red; */
    width: 69%;
    padding: 0px .5rem;
}
/*NOTIFICACIONES*/

/*NOTICIA*/
.box-noticia {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #bdc5cd;
    padding: 1rem 2rem;
}

.box-noticia h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
}

.like-noticia {
    display: flex;
    /* background: red; */
    position: relative;
    max-width: 100%;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.like-noticia p {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #575757;
}

.like-noticia a {
    width: 49px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    border: solid 1px #798289;
    position: relative;
    align-items: center;
    color: #798289;
    justify-content: center;
}
p.txt_noticia {
    object-fit: contain;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    padding: 1rem 1.4rem;
}
/*NOTICIA*/


/*DETALLE EMPRESA*/
.titulo-detalle-company h3 {
    object-fit: contain;
    font-family: Lato;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.titulo-detalle-company p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #575757;
    margin-bottom: 0px;
}

a.empresa-my-a.collapsed {}

.empresa-my-detalle a i {
    font-size: 22px;
    color: #017aff;
}

.empresa-my-detalle {
    background: #f2f3f3;
    z-index: 1;
}
.empresa-my-detalle a {
    padding: .6rem 0px;
    height: auto !important;
    justify-content: space-around;
}

.enlaces-empresa-box .card ul li a {
    justify-content: flex-start;
}

.btns_ac_di a i {
    font-size: 3rem;
    color: #acbdcc;
}
/*DETALLE EMPRESA*/


/*FILE*/
.titulo-file-company {
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #d8dbe2;
}

.titulo-file-company i {
    font-size: 4rem;
    color: #acbdcc;
}

.txt-file h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #000000;
}

.txt-file p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #999999;
    margin-bottom: 0px;
}

.txt-file {
    margin-left: 30px;
}

ul.age {
    margin: 0px;
    padding: 0px;
}

ul.age li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}
ul.month {
    margin: 0px;
    padding: 0px;
}

ul.month li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}


.box-month {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97px;
    /* background: red; */
}

ul.month-detail {
    margin: 0px;
    padding: 0px;
}

ul.month-detail li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    /* background: red; */
    border-bottom: 2px #D8DBE3 solid;
}


.box-month-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97px;
    /* background: red; */
}

.box-age {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
}


.box-age p {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.box-age i {
    color: #017aff;
    font-size: 18px;
}



.box-month p {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.box-month i {
    color: #017aff;
    font-size: 18px;
    margin-right: 14px;
}

a.ver-file {
    width: 46px;
    height: 29px;
    border-radius: 14.5px;
    background-color: #3cda8a;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


a.ver-file-month {
    width: 46px;
    height: 29px;
    border-radius: 14.5px;
    background-color: #ffbd15;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ml-n2 h6 a {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #3c4858;
}

p.card-text.small.text-muted {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #8997ab;
}
.col-auto.actions .dropdown a {
    color: #475261;
    text-decoration: none;
}

.cabezote-file {
    background: #f2f3f3;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-company h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 0px;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

.titulo-company h4 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}

.titulo-company {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p.date-file {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    margin-bottom: 0px;
    text-align: center;
    color: #b5b5b5;
}

a.descargar-file {
    width: 98px;
    height: 27px;
    object-fit: contain !important;
    border-radius: 13.5px;
    background-color: #1886fe;
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #ffffff;
}

.actions_file {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a.descargar-file i {
    font-size: 14px;
    margin-right: 6px;
}

a.comentar-file {
    width: 98px;
    height: 27px;
    object-fit: contain !important;
    border-radius: 13.5px;
    background-color: #3cda8a;
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #ffffff;
}

a.comentar-file i {
        font-size: 14px;
    margin-right: 6px; 

}

h2.name-file {
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    margin-top: 15px;
    letter-spacing: normal;
    text-align: center;
    color: #3c4858;
}
/*FILE*/


/*DIVIDENDO*/
.titulo-divi h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 0px;
    letter-spacing: normal;
    color: #000000;
    margin-left: 15px;
}

.titulo-divi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    padding-bottom: 10px;
}

.titulo-divi img {
    width: 45px;
}

.card.mb-3.border.shadow-none.p-3.m-3 p {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

a.c-c-f {
    height: 49px;
    border-radius: 5px;
    background-color: #3cda8a;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

a.s-s {
    height: 49px;
    border-radius: 5px;
    background-color: #ffbd15;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

a.d-r {
    height: 49px;
    border-radius: 5px;
    border: solid 1px #d9dee1;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999899;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-leg {
    margin: 1rem;
}

p.mini-legal {
    font-family: Lato;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 80px;
    color: #99999a;
}
/*DIVIDENDO*/


/*MAPAS*/

a.btn.mapa-active {
   
    background-color: #3cda8a;

    color: #ffffff;
}

.btn-lista {
    width: 43%;
    height: 49px;
    border-radius: 5px;
    border: solid 1px #d9dee1;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999899;
}

.btns_mapas {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem .7rem;
}

.col-auto i.icon-flag.icons {
    color: #b5b5b5;
    font-size: 24px;
    top: 4px;
    position: relative;
}

.box-m-l {
    height: 85px;
    display: flex;
}
/*MAPAS*/


.noticia-item {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
    /*margin-bottom: 1.6rem;*/
}

footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: red; */
    height: 70px;
    bottom: 0px;
}

footer p {font-family: Lato;font-size: 11px;margin-bottom: 0px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: normal;text-align: center;color: #99999a;}

/*AGENDA*/

.widget-calendar {
    position: relative;
    z-index: 0
}
.widget-calendar td,
.widget-calendar th {
    border-color: transparent;
    text-align: center
}
.widget-calendar .fc-toolbar {
    margin-top: 1.25rem
}
.widget-calendar .fc-toolbar h2 {
    font-size: 1rem
}
.widget-calendar .fc-day-number {
    text-align: center;
    width: 100%;
    padding: 0
}
.widget-calendar .fc table {
    font-size: .875rem
}
.widget-calendar .fc th {
    padding: .75rem .5rem;
    font-size: .75rem
}

.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent
}

.card-header:first-child{border-radius:calc(.375rem - 1px) calc(.375rem - 1px) 0 0}.card-header+.list-group .list-group-item:first-child{border-top:0}.card-footer{padding:1.25rem 1.5rem;background-color:transparent;border-top:1px solid #eff2f7}

.fc-header-toolbar {
    display: none
}
.fc-scroller {
    height: auto!important
}
.fc th {
    padding: .75rem 1rem;
    font-size: .75rem;
    font-weight: 600;
    color: #8492a6;
    text-transform: uppercase
}
.fc div.fc-row {
    margin-right: 0;
    border: 0
}
.fc button .fc-icon {
    top: -5px
}
.fc-unthemed td.fc-today {
    background-color: transparent
}
.fc-unthemed td.fc-today span {
    color: #ffab00
}
.fc-event {
    padding: 0;
    font-size: .75rem;
    border-radius: .2rem;
    border: 0
}
.fc-event .fc-title {
    padding: .4rem .5rem;
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600
}
.fc-event .fc-time {
    float: left;
    background: rgba(31, 45, 61, .2);
    padding: 2px 6px;
    margin: 0 0 0 -1px
}
.fc-view,
.fc-view>table {
    border: 0;
    overflow: hidden
}
.fc-view>table>tbody>tr .ui-widget-content {
    border-top: 0
}
.fc-body {
    border: 0
}
.fc-icon {
    font-size: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px
}
.fc-icon:hover {
    color: #6e00ff
}
.fc-button {
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}
.fc-button:active,
.fc-button:focus {
    outline: 0
}
.calendar {
    z-index: 0
}
.calendar td,
.calendar th {
    border-color: #f6f8fa
}
.calendar .fc-toolbar {
    height: 250px;
    background-color: #fff;
    border-radius: .25rem .25rem 0 0;
    position: relative;
    margin-bottom: -2px;
    z-index: 2
}
@media (max-width: 575.98px) {
    .calendar .fc-toolbar {
        height: 135px
    }
}
.calendar .fc-day-number {
    padding: .5rem 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
@media (min-width: 576px) {
    .calendar .fc-day-number {
        font-size: .875rem;
        font-weight: 600;
        color: #a2acbb
    }
}
.calendar .fc-day-header {
    text-align: left
}
.calendar .fc-day-grid-event {
    margin: 1px 9px
}
.card-calendar .card-header {
    border-bottom: 0
}
.card-calendar table {
    background: transparent
}
.card-calendar table tr>td:first-child {
    border-left-width: 0
}
.card-calendar table tr>td:last-child {
    border-right-width: 0
}
.widget-calendar {
    position: relative;
    z-index: 0
}
.widget-calendar td,
.widget-calendar th {
    border-color: transparent;
    text-align: center
}
.widget-calendar .fc-toolbar {
    margin-top: 1.25rem
}
.widget-calendar .fc-toolbar h2 {
    font-size: 1rem
}
.widget-calendar .fc-day-number {
    text-align: center;
    width: 100%;
    padding: 0
}
.widget-calendar .fc table {
    font-size: .875rem
}
.widget-calendar .fc th {
    padding: .75rem .5rem;
    font-size: .75rem
}
.highlight {
    background-color: #212d3a;
    padding: 1.25rem;
    margin-bottom: 2rem;
    border: 1px solid #eff2f7;
    border-radius: .25rem
}
.highlight pre {
    margin-bottom: 0;
    padding: 1.25rem
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em
}
.hljs,
.hljs pre code {
    color: #dcdcdc
}
.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-name,
.hljs-symbol {
    color: #569cd6
}
.hljs-link {
    text-decoration: underline
}
.hljs-built_in,
.hljs-type {
    color: #4ec9b0
}
.hljs-class,
.hljs-number {
    color: #b8d7a3
}
.hljs-meta-string,
.hljs-string {
    color: #d69d85
}
.hljs-regexp,
.hljs-template-tag {
    color: #9a5334
}
.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst,
.hljs-title {
    color: #dcdcdc
}
.hljs-comment,
.hljs-quote {
    color: #57a64a;
    font-style: italic
}
.hljs-doctag {
    color: #608b4e
}
.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
    color: #9b9b9b
}
.hljs-template-variable,
.hljs-variable {
    color: #bd63c5
}
.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
    color: #9cdcfe
}
.hljs-section {
    color: gold
}
.hljs-emphasis {
    font-style: italic
}
.hljs-strong {
    font-weight: 700
}
.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #d7ba7d
}
.hljs-addition {
    background-color: #144212
}
.hljs-addition,
.hljs-deletion {
    display: inline-block;
    width: 100%
}
.hljs-deletion {
    background-color: #600
}




.badge-dot i {
    display: inline-block;
    vertical-align: middle;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
    margin-right: .375rem;
}

.badge-dot.badge-lg i {
    width: .625rem;
    height: .625rem;
}

.progress-circle .h1, .progress-circle .h2, .progress-circle .h3, .progress-circle [class^=display] {
    color: #3c4858!important;
}


.progress-circle {
    width: 50%;
    margin-top: 30px;
}


.badge-dot {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: #8492a6;
    font-size: .875rem;
}

.box-btn-asistencia {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

a.asis-btn {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 9px;
}

a.asis-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #d1d1d1;
    border-top: 0px;
}

.mes-btn {
    width: 45px;
    height: 31px;
    border: solid 1px #dbdbdb;
    border-top: 1px solid #dbdbdb !important;
    background-color: #e9ebee;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.6;
    letter-spacing: normal;
    text-align: center;
    color: #575757;
}

.c-a-p {
  object-fit: contain;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8d9bad;
  margin-bottom: 0px;
  margin-top: 20px;
}

.box-calendar-general {
    display: flex;
    height: 124px;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ececec;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.month-box-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.box-calendar-day p {
    object-fit: contain;
    font-family: Lato;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}

.month-box-calendar h3 {
    object-fit: contain;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.month-box-calendar h5 {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0px;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #8d9bad;
}



.box-calendar-general span {
    width: 2px;
    height: 68px;
    object-fit: contain;
    border: solid 1px #dcdcdc;
}

.titulo-box-calendar a {
    width: 83px;
    margin-bottom: 0px;
    height: 29px;
    object-fit: contain;
    border-radius: 14.5px;
    object-fit: contain;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #3cda8a;
}

.box-calendar-general {
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* background: red; */
    /* width: 90%; */
}

.box-calendar-day {
    /* width: 50%; */
    display: flex;
    position: relative;
    /* background: blue; */
}

.titulo-box-calendar {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* background: gray; */
    align-items: flex-start;
    position: relative;
    justify-content: center;
}

.titulo-box-calendar h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #575757;
}

.titulo-box-calendar p {
   object-fit: contain;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin-bottom:0px;
  letter-spacing: normal;
  color: #8d9bad;
}



/*AGENDA*/

.titulo_sel_even {
   font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #575757;
}



