<template>
  <div class="home">

  </div>
</template>

<script>

import {mapState, mapActions} from 'vuex';

export default {
  name: 'home',
  components: {
  },
  
  computed: {
    ...mapState(['loading'])
  },
  watch: {
    loading: function(){
      this.$router.push('/term-and-conditions');
    }
  }
  
}
</script>


