<template>
  <div class="about">
    <h1>List routes</h1>
    <br>
    <router-link :to="{name:'login'}">Login</router-link><br>
    <router-link :to="{name:'password-reset'}">Password Reset</router-link><br>
    <router-link :to="{name:'term-and-conditions'}">Terminos</router-link><br>
    <router-link :to="{name:'profile'}">Profile</router-link><br>
    <router-link :to="{name:'dashboard'}">Dashboard</router-link><br>
    <router-link :to="{name:'dashboard-file'}">File</router-link><br>
    <router-link :to="{name:'dashboard-files'}">Files</router-link><br>
    <router-link :to="{name:'dashboard-dividends'}">Dividends</router-link><br>
    <router-link :to="{name:'dashboard-venues-list'}">Sedes(Lista)</router-link><br>
    <router-link :to="{name:'dashboard-venues-maps'}">Sedes(Mapas)</router-link><br>
    <router-link :to="{name:'dashboard-news'}">Noticias</router-link><br>
    <router-link :to="{name:'dashboard-news-item'}">Noticia (Item)</router-link><br>
    <router-link :to="{name:'dashboard-notifications'}">Notificaciones</router-link><br>
    <router-link :to="{name:'dashboard-notifications-item'}">Notificacion (Item)</router-link><br>
    <router-link :to="{name:'dashboard-company'}">Company</router-link><br>
    <router-link :to="{name:'dashboard-agenda'}">Agenda</router-link><br>
    <router-link :to="{name:'dashboard-agenda-details'}">AgendaDetails</router-link><br>
    <router-link :to="{name:'dashboard-agenda-confirm'}">AgendaConfirm</router-link><br>
  </div>
</template>
