<template>
    <div>
<footer>
          <p>© Todos los derechos reservados. Seissa - <span v-text="footer.year"></span> </p>
    </footer>
</div>
</template>

<script type="text/javascript">
   export default {
    name: 'Footer',
    data(){
        return {
            footer: {
                year: (new Date()).getFullYear(),
            }
        }
    }
}
</script>