<template>
	<div class="header-dashboard">
          <a @click="back()" class="left-btn">
          
                  <img src="@/assets/img/arrow.png" class="img-fluid" style="">
                  
          </a> 
            <a @click="home()" >   
      <img src="@/assets/img/icon-logo-3.png">
      </a>
            .
            <span></span>
          
    </div>
</template>


<script>


  export default {
    name: 'HeaderLight', 
    methods: {
      back(){
        this.$router.go(-1);
      },
      home(){
          this.$router.push({ name: 'dashboard' })
      }
    }
}


</script>