<template>
   <div class="header-dashboard">

      
      <router-link :to="{name:'profile'}" class="ocultar-desktop ">
         <i class="icon-menu icons"></i>
      </router-link>

      
      <div class="ocultar-mobile box-izq-header">
      
       <router-link :to="{name:back}" class="back-full">
          <div class="left-btn">
            <img src="@/assets/img/arrow.png" class="img-fluid" style="">
         </div>
      </router-link>
      

      <a @click="home()" class="ocultar-mobile">   
      <img src="@/assets/img/icon-logo-3.png" > 
      </a>

      </div>

      <a @click="home()" class="ocultar-desktop">   
      <img src="@/assets/img/icon-logo-3.png" >
      </a>

      <div class="box-profile">
         <MenuProfile></MenuProfile>
         
         <a @click="home()" class="ocultar-mobile btn-home-d">
            <i class="icon-home icons"></i>
         </a>

         <router-link :to="{name:'dashboard-notifications', params:{back:back}}">
            <div class="notofaciones">
               <i class="icon-bell icons"></i>
               <p v-text="notifications.length"></p>
            </div>
         </router-link>
      </div>
   </div>
</template>
<script type="text/javascript">
   import MenuProfile from '@/components/general/MenuProfile.vue';
   export default {
      name: 'Header',
      components: {
            MenuProfile
      },
      props:{
         notifications: Array,
         back: String,
      },
      data(){
         return {
            notifications_length: 0,
         }
      },
      mounted(){
         this.notifications_length = this.notifications.length;
      },
      methods: {

      backFull() {
         this.$router.go(-1)
      },

      home(){
          this.$router.push({ name: 'dashboard' })
       }
      }
   }
</script>