<template>
   <div class="header-dashboard" style="">
      <router-link :to="{name:back, params: {back: backSec}}">
         <div class="left-btn">
            <img src="@/assets/img/arrow.png" class="img-fluid" style="">
         </div>
      </router-link>
      <a @click="home()" >   
      <img src="@/assets/img/icon-logo-3.png">
      </a>
      .
      <span></span>
   </div>
</template>
<script>
   export default {
     name: 'HeaderLight',
     props:{
       back: String,
       backSec: String,
     },
     methods: {
     home(){
          this.$router.push({ name: 'dashboard' })
      }
     } 
   }
   
   
</script>