<template>
    <div>
      <div class="loaderSpinner">  
         <div class="number">
            <p>Cargando…</p>
            <img src="@/assets/img/loader.gif">
         </div>
      </div>
   </div>
</template>

<script type="text/javascript">
   export default {
    name: 'LoaderSpinner',
}
</script>