<template>
    <div>
<div class="loader" style="display: none;">
   <img src="@/assets/img/logo-loader.png">
   <div class="line-mitad">
      <span></span>
      <div class="box-mitad"></div>
      <div id="chevron"></div>
      <span></span>
   </div>
   <div class="number">
      <p>Cargando…</p>
      <span>0%</span>
   </div>
</div>
</div>
</template>

<script type="text/javascript">
   export default {
    name: 'Loader',
}
</script>