<template>
   
      <div class="sidenav-user-2">
         <div class="dropdown dropdown-user">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <div class="box-profile-content">
                  <a class="avatar rounded-circle avatar-xl">
                  <i class="icon-user icons"></i>
                  </a>
                  <div class="names-txt">
                     <span class="d-block text-sm opacity-8">Bienvenido</span>
                     <h5 class="mb-0 text-white " v-text="inversor.Name+' '+inversor.LastName">Carlos Vegalara</h5>
                  </div>
               </div>
            </button>
            <div class="dropdown-menu dropdown-menu-my" aria-labelledby="dropdownMenuButton">
               <a href="#" data-toggle="modal" data-target="#modal-asistencia" class="btn-asistencia btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
               
               <a class="btn-inner-text"><i class="icon-check"></i>Asistencia</a>
               </a>
               <a @click="logout" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
             
               <a class="btn-inner-text"><i class="icon-logout icons"></i>Salir</a>
               </a>
            </div>
         </div>
      </div>
   
</template>
<script type="text/javascript">
   import ModalDividens from '@/components/dashboard/ModalDividens.vue';
   import ModalDiary from '@/components/dashboard/ModalDiary.vue';
   import {mapState, mapMutations} from 'vuex';
   
   export default {
     name: 'Dashboard',
     components: {
       ModalDividens,
       ModalDiary
   
     },
     data(){
        return{
           code: '',
        }
     },
     methods: {
        ...mapMutations(['setFilter','setTempFilter']),
        logout() {
            let message = {type:'CONFIRM', desc:'¿Esta seguro que desea cerrar sesión?' }
            this.$store.dispatch("confirm", message);
         },
         groupsByCompany(id) {
           return this.$store.getters.groupsByCompany(id);
         },
         goToCompany(companyId, groupId){
            this.setFilter({companyId, groupId}); 
            this.setTempFilter({companyId, groupId}); 
             this.$router.push({ name: 'dashboard-company' });
         },
         home(){
            this.setFilter({companyId:'', groupId:''});
            this.$router.push({ name: 'dashboard' })
         },
         back(){
             this.$router.go(-1);
         },
         setConfirmAttendance(){
            let code = {code: this.code};
            this.$store.dispatch('setConfirmAttendance', code).then( data => {
               
               })
               .catch(error => console.error(error));
         }
     },
     computed: {
       ...mapState(['confirmResponse','inversor', 'companies'])
     },
     watch: {
       confirmResponse: function(){
         if(this.confirmResponse){
            this.$store.dispatch("logout").then(() => {
               this.$router.push("/login");
            });
         }
       },
     }
   }
</script>