<template>
         
         <nav class="menu-fixed-my">
            <ul>
               <div class="l-r-box">
                  
                  <a class="left-btn" @click="goBack()" v-if="back != ''">
                     <img src="@/assets/img/arrow.png" class="img-fluid">
                  </a>
                  
               </div>
               <div class="home-box">
                  <div class="redo-left"></div>
                  <a class="btn-home" @click="home()">
                    <i class="icon-home icons"></i>
                  </a>
                  <div class="redo-right"></div>
                  <div class="piso-fixed"></div>
               </div>
               <div class="noticias-box" >
                  <router-link :to="{name:'dashboard-news'}" class="right-btn" v-if="this.$route.name != 'dashboard'">
                     
                     <p>Noticias</p>
                  </router-link>
                  
               </div>
            </ul>
         </nav> 

</template>

<script>
   import {mapState, mapMutations} from 'vuex';

export default {
    name: 'MenuFixed',
    props:{
         back: String,
   }, 
   computed: {
      ...mapState(['filter', 'tempFilter'])
   },
   methods: {
       ...mapMutations(['setFilter','setTempFilter']),
       goBack(){
          this.setFilter(this.filter); 
          this.setTempFilter(this.tempFilter); 
          this.$router.push({ name: this.back })
       },
       home(){
          this.setFilter({companyId:'', groupId:''});
          this.$router.push({ name: 'dashboard' })
       }
    }
}
</script>


