<template>
    <div>
        <div v-if="message.type != 'CONFIRM' && message.desc != ''" class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="message.type == 'ERROR'" class="modal-title">Ha ocurrido un error.</h5>
                    <h5 v-if="message.type == 'OK'" class="modal-title">Éxito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p v-text="message.desc"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="close">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
        <div v-if="message.desc != ''" class="modal-backdrop fade in"></div>
    </div>
</template>

<script type="text/javascript">
    import {mapState,mapMutations} from 'vuex';
    export default {
        name: 'Message',
        props: {
            message : {type: '', desc: ''},
        },
        methods: {
            ...mapMutations(['setMessage']),
            close: function(){
                this.setMessage({type: '', desc: ''});
            }
        }
    }
</script>

<style lang="css" scoped>
    .modal {
        display:inline;
    }
</style>
