<template>
    <div>
            <h1 class="display-4">Notificaciones (10)!</h1>
    </div>
</template>

<script>

export default {
    name: 'Notificaciones',
}
</script>

<style>

</style>
