<template>

      <div class="box-empresas-fixed">
      <div class="empresas-box">
         <div class="tab-content tab-content-c" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <div class="box-empresas">
                  <div class="empresa-my empresa-my-g" v-for="item of companies" :key="item.CompanyId" >
                     <a class="empresa-my-a" 
                        data-toggle="collapse" 
                        v-bind:href="'#empresa'+item.CompanyId" 
                        role="button" 
                        aria-expanded="false" 
                        v-bind:aria-controls="'empresa'+item.CompanyId">
                        <!-- <span v-html="item.LogoSvg"></span> -->
                        <img v-bind:src="item.LogoBase64" />
                        <div class="close-empresa-my-open">+</div>
                        <div class="close-empresa-my-close">x</div>
                     </a>
                     <div class="collapse enlaces-empresa" v-bind:id="'empresa'+item.CompanyId">
                        <div class="card card-body">
                           <ul v-for="group in groupsByCompany(item.CompanyId)" :key="group.GroupId">
                              <li v-if="group!=null && group != undefined">
                                 <a @click="goToCompany(item.CompanyId,group.GroupId)"
                                    v-text="group.Name">
                                 </a>
                                 
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Box empresas-->
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
         </div>
        
      </div>
       <!-- Modal dividendos-->
         <ModalDividens :companies="companies"></ModalDividens>
         <!-- Modal dividendos-->
         <!-- Modal agenda-->
         <ModalDiary :companies="companies"></ModalDiary>
         <div class="modal fade" id="modal-asistencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                  <form v-on:submit.prevent="setConfirmAttendance">
                     <div class="modal-body p-4 box-content-modal">
                        <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                        </button>
                        <h3>Asistencias</h3>
                        <input type="text" name="asistencia" class="form-control mb-2" 
                           placeholder="# Asistencia" v-model="code" required>
                        <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Confirmar asistencia</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
</div>
</template>
<script type="text/javascript">
   import ModalDividens from '@/components/dashboard/ModalDividens.vue';
   import ModalDiary from '@/components/dashboard/ModalDiary.vue';
   import {mapState, mapMutations} from 'vuex';
   
   export default {
     name: 'Dashboard',
     components: {
       ModalDividens,
       ModalDiary
   
     },
     data(){
        return{
           code: '',
        }
     },
     methods: {
        ...mapMutations(['setFilter','setTempFilter']),
        logout() {
            let message = {type:'CONFIRM', desc:'¿Esta seguro que desea cerrar sesión?' }
            this.$store.dispatch("confirm", message);
         },
         groupsByCompany(id) {
           return this.$store.getters.groupsByCompany(id);
         },
         goToCompany(companyId, groupId){
            this.setFilter({companyId, groupId}); 
            this.setTempFilter({companyId, groupId}); 
             this.$router.push({ name: 'dashboard-company' });
         },
         home(){
            this.setFilter({companyId:'', groupId:''});
            this.$router.push({ name: 'dashboard' })
         },
         back(){
             this.$router.go(-1);
         },
         setConfirmAttendance(){
            let code = {code: this.code};
            this.$store.dispatch('setConfirmAttendance', code).then( data => {
               
               })
               .catch(error => console.error(error));
         }
     },
     computed: {
       ...mapState(['confirmResponse','inversor', 'companies'])
     },
     watch: {
       confirmResponse: function(){
         if(this.confirmResponse){
            this.$store.dispatch("logout").then(() => {
               this.$router.push("/login");
            });
         }
       },
     }
   }
</script>