<template>
   <div>
      
      <div id="carouselExampleIndicators-2" class="carousel slide" data-ride="carousel" data-interval="3000">
         <div class="carousel-inner">
            <div 
               v-for="(item, i) of carruselArticles" 
               :key="item.id" 
               :class="'carousel-item ' +[i == current ? 'active' : '']"
               >
               <div class="noticia-item">
                  <router-link :to="{ name: 'dashboard-news-item', params: { id: item.ArticleId, back: back}}">
                  <img v-bind:src="getImage(item)" alt="" class="d-block w-100">
                  </router-link>
                  <div class="txt-galerry-d">

                    <div class="boc-txt-noticias">

                      <h5 class="n-d-t">Noticias destacadas</h5>

                      <p><b>{{ item.Title}}</b>

                     </p>
                     <div class="mini-footer-gallery">
                        <div class="like-gallery">
                           <router-link :to="{ name: 'dashboard-news-item', params: { id: item.ArticleId, back: back}}">
                           Ver más
                           </router-link>
                        </div>

                     </div>

                    </div>


                  </div>
               </div>
            </div>
            
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators-2" 
         role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators-2" 
         ref="next" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
         </a>
         <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators-2"
               v-for="(item, i) of carruselArticles"
               :key="item.id"
               :data-slide-to="[i]"
               :class="' ' +[i == 8 ? 'active' : '']"
               :ref="'bullet'+i"
            ></li>
         </ol>
      </div>
      
      
   </div>
</template>
<script>
   import NewsItem from '@/components/dashboard/NewsItem.vue';
   import {mapState} from 'vuex';
   export default {
     name: 'CarruselNewsItem',
     components:{
       NewsItem,
     },
     props: {
       articles : Array,
     },
     data(){
       return {
         carruselArticles: [],
         back: 'dashboard',
         i: 0,
         current: 8,
         click: false,

         ///////
         image: '',
         isMobile: true,
       };
     },
     computed: {
       ...mapState(['settingUp']),
     },
     mounted(){
       /////////////
       this.isMobile = this._isMobile();
       setTimeout(function () { 
         this.$refs.next.click();
       }.bind(this), 1000);
     },
     methods: {
       moveDot(){
         setTimeout(function () { 
           if(!this.click){
             this.next('automatic')
           }
           this.moveDot();
          
         }.bind(this), 5000)
       },
       next(moment){
         if(moment == 'manual'){
           this.click = true;
         }
         this.current++;
         if(this.current > 4){
             this.current = 0;
         }
       },
       prev(moment){
         if(moment == 'manual'){
           this.click = true;
         }
         this.current--;
         if(this.current < 0){
             this.current = 4;
         }
       },
       getFirstThreeArticles(){
         let _articles = [];
         let index = 0;
         for(let element of this.articles){
           if(element.IsMain){
             _articles[index] = element;
             if(index >= 8){
               break;
             }
             index++;
           }
         }
         this.carruselArticles = _articles;
       },
       getCantArticles(){
         return this.carruselArticles.length;
       },

       ////////////////////////////////
       _isMobile() {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            return true
            } else {
            return false
            }
         },
         getImage(article){
            if(this.isMobile){
            return article.ImageUrlMobile;
            }
            return article.ImageUrl;
         },
         getDate(date){
            var date = new Date(date);
            
            var options = { weekday: "long", year: "numeric", month: "short",   
         day: "numeric" };
            let current = date.toLocaleDateString('es-ES', options);
            current = current.replace(/(^|\s)\S/g, l => l.toLowerCase());
            return current.charAt(0).toUpperCase() + current.slice(1);
         },
         getImagen(item){
            this.$store.dispatch('getImage', item.ImageUrl).then( data => {
                  this.image = data.data.Base64;
            })
            .catch(error => {
               console.error(error)
            });
         }
     },
     watch:{
        settingUp: function(){
           if(this.$store.state.settingUp == 'done'){
             this.getFirstThreeArticles();
           }
        }
     }
   }
</script>