<template>
    <div class="header-dashboard">
            <i class="icon-menu icons"></i>
            <img src="@/assets/img/icon-logo-3.png">
            <div class="notofaciones">
               <i class="icon-bell icons"></i>
               <p>20</p>
            </div>
    </div>
</template>

<script>
export default {
    name: 'HeaderDashboad',
}
</script>