<template>
  <div class="map">
     
    <GmapMap 
        :center="{lat:company.Latitud, lng:company.Longitud}"
        :zoom="company.Nivel"
        map-type-id="terrain"
        style="width: 100%; height: 400px"
        v-bind:options="options"
        >
        <GmapMarker
            :key="index"
            v-for="(b, index) in branches"
            :position="getPosition(b, b.Latitude, b.Longitude).position"
            :clickable="true"
            :draggable="true" 
        />
    </GmapMap>
  </div>
</template>

<script>

    import gmapsInit from '@/util/gmaps';

    import {mapState} from 'vuex';

    export default {
        name: 'Map',
        data(){
            return {
                options: {styles: []},
            };
        },
        computed: {
            ...mapState(['filter','branches', 'companies']),
            branches: function () {
                let b = this.$store.getters.branchesByCompany(this.filter.companyId);
                if(b==undefined) return [];
                return b;
            },
            company: function(){
                let company = this.companies.filter(c => c.CompanyId == this.filter.companyId);
                if(company.length == 1){
                    company = company[0];
                    company.Latitud = Number(company.Latitud);
                    company.Longitud = Number(company.Longitud);
                    return company;
                }
                return {};
            }
        },
        mounted(){
            this.options = {styles: gmapsInit()}
        },
        methods: {
            getCurrentCompany(id){
                let company = this.companies.filter(c => c.CompanyId == id);
                if(company.length == 1){
                    this.company = company[0];
                }
                this.company = {};
            },
            getPosition(branch, lat, lng) {
                var marker = {
                    position: {
                        lat: parseFloat(lat),
                        lng: parseFloat(lng)
                    },
                    infoText: branch.Name,
                    title: branch.Name,
                    label: branch.Name
                };
                return marker;
            },
        }

       
    }
</script>


