<template>
   <div class="modal fade" id="modal-events" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <form v-on:submit.prevent="send">
               <div class="modal-body p-4 box-content-modal">
                  <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="@/assets//img/close.png"></span>
                  </button>
                  <img src="@/assets//img/3.png">
                  <h3>Eventos</h3>
                  <p class="titulo_sel_even">Seleccione el evento en particular que desea ver.</p>
                  <div class="card event-modal-box" v-for="(event, item) of events" :key="item" @click="setEvent(event)">
                     <span v-bind:class="'bg-'+event.ColorSchedule" v-text="event.Initials"></span>
                     <p v-text="event.Title"></p>
                     <i class="icon-arrow-right icons"></i>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</template>
<script> 
   import {mapState,mapMutations} from 'vuex';
   
   export default {
      name: 'ModalEvents',
      data(){
         return {
           events:[],
         }
      },
      computed: {
         ...mapState(['filter']),
      },
      mounted(){
         
      },
      methods: {
         ...mapMutations(['setFilterEvents']),
         setEvents(events){
            this.events = [];
            events.forEach(element => {
               let fecha = new Date(element.StartDate);
               if(fecha.getDate() == this.filter.events.day && fecha.getFullYear() == this.filter.events.year 
                     && (fecha.getMonth()+1) == this.filter.events.month){
                  this.events.push(element);
               }
            });
         },

         setEvent(event){
            this.setFilterEvents({year: this.filter.events.year
                                 , month: this.filter.events.month
                                 , day: this.filter.events.day
                                 , id: event.ScheduleId
                                 , event: event});
            this.$refs.close.click();
            this.$router.push({ name: 'dashboard-agenda-details' })
         }
      },
   }
</script>