 <template>
   <div :class="'modal fade ' +[modalOpen ? 'show' : 'hide']"
   id="modal-dividendos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <form v-on:submit.prevent="send">
               <div class="modal-body p-4 box-content-modal">
                  <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                  </button>
               
                  <img src="@/assets/img/marrano.png">
                  <h3 v-if="CompanyId == 49">Dividendos</h3>
                  <h3 v-if="CompanyId != 49">Honorarios</h3>
                  <p>Cobre los dividendos de sus empresas rápidamente en unos simples pasos.</p>
                  <select class="form-control empresa mb-2" v-model="CompanyId" required @change="changeCompanies()">
                     <option value="">Seleccione una empresa</option>
                     <option v-for="item of companies" :key="item.CompanyId"
                     v-bind:value="item.CompanyId" v-text="item.Name"></option>
                  </select>
                  
                  <select class="form-control tipo mb-2" v-model="GroupId" required @change="changeGroups()">
                     <option value="">Tipo</option>
                     <option v-for="group in groupsByCompany(CompanyId)" :key="group.GroupId"
                     v-bind:value="group.GroupId" v-text="group.Name"></option>
                  </select>
                 
               
                  <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Consultar</button> 
               </div>
            </form>
         </div>
      </div>
   </div>
</template>

<script>
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'ModalDividens',
      props:['companies'],
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            modalOpen: true,
           
         }
      },
      computed: {
         ...mapState(['filter']),
      },
      mounted(){
         this.CompanyId = this.filter.companyId;
         this.GroupId = this.filter.groupId;
      },
      methods: {
         ...mapMutations(['setFilter']),
         groupsByCompany(id) {
            return this.$store.getters.groupsByCompany(id);
         },
         send(){
            this.setFilter({companyId: this.CompanyId, groupId: this.GroupId});
            this.$refs.close.click();
            this.$router.push({ name: 'dashboard-dividends' })
         },
         
         changeCompanies(){
            this.GroupId = '';
         },
         changeGroups(){
         
         }
      },
   } 
</script>