<template>
   <div class="modal fade" id="modal-documentos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <form v-on:submit.prevent="send">
               <div class="modal-body p-4 box-content-modal">
                  <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                  </button>
                  <img src="@/assets/img/1.png">
                  <h3>Compañia</h3>
                  <p>Cambie de compañia rápidamente aquí.</p>
                  <select id="empresa" class="form-control empresa mb-2" v-model="CompanyId"
                   required >
                     <option value="">Seleccione una empresa</option>
                     <option v-for="item of companies" :key="item.CompanyId"
                     v-bind:value="item.CompanyId" v-text="item.Name"></option>
                  </select>
                  
                  <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Buscar</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</template>

<script>
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'ModalCompanyPickerAgenda',
      props:['companies','open'],
      data(){
         return {
            CompanyId: '',
            years: [],
            months: [],
            categories_select: [],
            year: '',
            month: '',
         }
      },
      mounted() {
          this.CompanyId = this.filter.companyId;
      },
      computed: {
         ...mapState(['filter','categories','documentYearAndMonth']),
      },
      methods: {
         ...mapMutations(['setFilter','setFilterFiles']),
          getCategories(){
            let files = this.filter.files;
            files.companyId = this.CompanyId;
            files.groupId = this.GroupId;
            this.setFilterFiles(files);
            this.$store.dispatch('getDataByModule', 'documents-modal-categories-no-store').then(res => {
               this.categories_select = res;
            }, error => {
               console.log(error);
            });
            this.category = this.year =  this.month =  '';
         },
         send(){
            this.setFilter({companyId: this.CompanyId
               , categories: this.categories_select});
            this.setFilterFiles({companyId: this.CompanyId
               , categories: this.categories_select});
            this.$refs.close.click();
            this.$emit('reloadFromFilter');
         },
         getYears(){
             this.setFilterFiles({companyId: this.CompanyId
                              , year:'', month: ''
                              });
             this.$store.dispatch('getDataByModule', 'getYearAndMonthsDocuments').then( data => {
               this.years = this.documentYearAndMonth;
             })
             .catch(error => console.error(error));
         },
       
      },
      watch:{
         open: function(){
            this.CompanyId = this.filter.companyId;
         }
      }
   }
</script>