<template>
<div class="modal fade" id="modal-agenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <form v-on:submit.prevent="send">
                  <div class="modal-body p-4 box-content-modal">
                     <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"><img src="@/assets//img/close.png"></span>
                     </button>
                     <img src="@/assets//img/3.png">
                     <h3>Agenda</h3>
                     <p>Consulte la agenda de sus empresas rápidamente en unos simples pasos.</p>
                     <select id="empresa" class="form-control empresa mb-2" 
                           v-model="CompanyId" required >
                        <option value="">Seleccione una empresa</option>
                        <option v-for="item of companies" :key="item.CompanyId"
                        v-bind:value="item.CompanyId" v-text="item.Name"></option>
                     </select>
                     
                     <br> 
                     
                     <button type="submit" href="#" class="btn btn-primary btn-lg btn-block enlace-ter">Consultar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
</template>

<script>
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'ModalDiary',
      props:['companies','backFromMenu'],
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            modalOpen: true,
         }
      },
      computed: {
         ...mapState(['filter']),
      },
      mounted(){
         this.CompanyId = this.filter.companyId;
         this.GroupId = this.filter.groupId;
      },
      methods: {
         ...mapMutations(['setFilter','setFilterEvents']),
         getParams(){
            return { CompanyId: '', GroupId: ''};
         },
         send(){
            this.setFilter({companyId: this.CompanyId, groupId: ''});
            this.setFilterEvents({year:''
                                 , month: ''
                                 , day: ''
                                 , id: ''
                                 , event: ''});
            this.$refs.close.click();
            this.$router.push({ name: 'dashboard-agenda', params: {backFromMenu: this.backFromMenu} })
         },
         changeCompanies(){
            this.GroupId = '';
         },
      },
   }
</script>