<template>
   <div class="modal fade" id="modal-actas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <form v-on:submit.prevent="send">
               <div class="modal-body p-4 box-content-modal">
                  <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="@/assets/img/close.png"></span>
                  </button>
                  <img src="@/assets/img/1.png">
                  <h3>Actas</h3>
                  <p>Encuentre documentos de sus empresas rápidamente en unos simples pasos.</p>
                  <select id="empresa" class="form-control empresa mb-2" v-model="CompanyId" 
                        required @change="changeCompany()">
                     <option value="">Seleccione una empresa</option>
                     <option v-for="item of companies" :key="item.CompanyId"
                     v-bind:value="item.CompanyId" v-text="item.Name"></option>
                  </select>
                  
                  <select class="form-control tipo mb-2" required @change="getCategories()" v-model="GroupId">
                     <option value="">Tipo</option>
                     <option v-for="group in groupsByCompany(CompanyId)" :key="group.GroupId"
                     v-bind:value="group.GroupId" v-text="group.Name"></option>
                  </select>
                  <select class="form-control categoria mb-2" required v-model="category" style="display:none;">
                     <option value="">Categoría</option>
                     <option v-for="category in categories_select" :key="category.CategoryId"
                     v-bind:value="category" v-text="category.Name"
                     ></option>
                  </select>
                  <button type="submit" class="btn btn-primary btn-lg btn-block enlace-ter">Buscar</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</template>

<script>
   import {mapState,mapMutations} from 'vuex';

   export default {
      name: 'ModalActas',
      props:['companies','open','backFromMenu'],
      data(){
         return {
            CompanyId: '',
            GroupId: '',
            category: '',
            years: [],
            months: [],
            categories_select : [],
            year: '',
            month: '',
         }
      },
      mounted(){
      },
      computed: {
         ...mapState(['filter','categories','documentYearAndMonth']),
      },
      methods: {
         ...mapMutations(['setFilterFiles', 'setFilter','setMessage']),
         changeCompany(){
            this.GroupId = this.category = this.year =  this.month =  '';
            this.categories_select = [];
         },
         groupsByCompany(id) {
            return this.$store.getters.groupsByCompany(id);
         },
         getCategories(){
            this.setFilterFiles({companyId: this.CompanyId, groupId: this.GroupId});
            this.$store.dispatch('getDataByModule', 'documents-modal-categories-no-store').then(res => {
               let exists = false;
               res.forEach(element => {
                  if(element.CategoryId == 39){
                     this.category = element
                     exists = true;
                  }
               });
               if(!exists){
                  this.setMessage({type:'ERROR',desc: "No esta habilitada la categoría de información Financiera en este momento"})
               }
               this.categories_select = res;
            }, error => {
               console.log(error);
            });
            this.category = this.year =  this.month =  '';
         },
         send(){
            this.setFilter({companyId: this.CompanyId
               , groupId: this.GroupId
               , category: this.category
               , categoryId: this.category.CategoryId
               , categories: this.categories_select});
            this.setFilterFiles({companyId: this.CompanyId
               , groupId: this.GroupId
               , category: this.category
               , categoryId: this.category.CategoryId
               , categories: this.categories_select});
            
            this.$refs.close.click();
            this.$router.push({ name: 'dashboard-category-files', params: {back: 'dashboard', backFromMenu: this.backFromMenu} })
         },
      },
   }
</script>