<template>
  <div class="noticia-item">
    <router-link :to="{ name: 'dashboard-news-item', params: { id: item.ArticleId, back: back}}">
    <img v-bind:src="getImage(item)" class="d-block noticia-interna-img" alt="">
    </router-link>
    <div class="txt-galerry-d">
      <p>
        <b>{{ item.Title }}</b> 
      </p>
      <div class="mini-footer-gallery">
          <div class="like-gallery">
            <router-link :to="{ name: 'dashboard-news-item', params: { id: item.ArticleId, back: back}}">
              Ver más
            </router-link>
          </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {

  name: 'NewsItem',
  props: {
    item : Object,
    back: String,
  },
  data(){
    return {
      image: '',
      isMobile: true,
    }
  },
  mounted(){
    this.isMobile = this._isMobile();
  },
  methods:{
     _isMobile() {
      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    },
    getImage(article){
      if(this.isMobile){
        return article.ImageUrlMobile;
      }
      return article.ImageUrl;
    },
    getDate(date){
      var date = new Date(date);
      
      var options = { weekday: "long", year: "numeric", month: "short",   
    day: "numeric" };
      let current = date.toLocaleDateString('es-ES', options);
      current = current.replace(/(^|\s)\S/g, l => l.toLowerCase());
      return current.charAt(0).toUpperCase() + current.slice(1);
    },
    getImagen(item){
      this.$store.dispatch('getImage', item.ImageUrl).then( data => {
            this.image = data.data.Base64;
        })
        .catch(error => {
          console.error(error)
        });
    }
  }
}


</script>
