<template>

<div class="noticia-item">
                     <img src="@/assets/img/plantilla-news-7.png" class="d-block w-100" alt="">
                     <div class="txt-galerry-d">
                     
                        <p><b>Equirent lanzó al mercado su nuevo servicio.</b> Vaya Car Sharing, un novedoso sistema de alquiles de automóviles.</p>
                        <div class="mini-footer-gallery">
                           <div class="">
                              <a href="#" class="like-gallery">Ver más</a>
                              <span></span>
                              <a href="#" class="active-like"><i class="icon-like icons"></i></a>
                           </div>
                           <p>9 mins</p>
                        </div>
                     </div>
</div>

</template>

<script type="text/javascript">
   export default {
   name: 'NewItem',
   props: {
      item : Object,
   },
}
</script>