<template>
  <div id="app" class="container-fluid px-0">
    <div class="desktop">
    <Loader v-if="loading"></Loader>
    <LoaderSpinner v-if="settingUp != 'done'"></LoaderSpinner>

    <router-view/>
    <Message :message="message"></Message>
    <Confirm :message="message" v-on:emitToParentResponse="setResponseConfirm"></Confirm>
    </div>
  </div>
</template>

<script>
import Loader from "@/components/general/Loader.vue";
import LoaderSpinner from "@/components/general/LoaderSpinner.vue";
import Message from "@/components/general/Message.vue";
import Confirm from "@/components/general/Confirm.vue";
import {mapState, mapMutations} from 'vuex';

export default {
  components: {
    Loader,
    Message,
    Confirm,
    LoaderSpinner
  },
  data(){
    return {
    }
  },
  computed: {
        ...mapState(['loading','message', 'settingUp'])
  },
  methods: {
    ...mapMutations(['setConfirmResponse']),
    setResponseConfirm: function(response){
      this.setConfirmResponse(response);
    }
  },
}
</script>
